@charset "UTF-8";

/* main1 */
#main1 {
  background-color: #fff;
  width: 1198px;
  height: 421px;
  position: relative;
  margin: 0 auto;
  text-align: left;
  border: solid 1px #d8d8d8;
}
#main1::before {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  bottom: -1px;
  z-index: 1;
  width: 109px;
  border-right: solid 1px #d8d8d8;
}
#mbnWrap {
  width: 109px;
  position: relative;
  z-index: 2;
  padding-top: 9px;
  height: 412px;
  display: block;
}
.mbn_dp1 {
  width: 110px;
  height: 40px;
  float: left;
}
.mbn_dp1 h3 a {
  display: block;
  padding-left: 13px;
  height: 40px;
  line-height: 40px;
  color: #000;
  font-size: 14px;
  border-left: none;
}
.mbnSub {
  position: absolute;
  top: 0;
  left: 109px;
  width: 1089px;
  height: 421px;
  overflow: hidden;
}
.mbnCont {
  position: relative;
  z-index: 1;
}
.mbnRoll_yNow {
  position: absolute;
  top: 0;
  left: 0;
  width: 1089px;
}
.mbnContImg {
  overflow: hidden;
}
.mbnContImg img {
  width: 1089px;
  height: 421px;
  margin-left: 0;
}
.pageNum1 {
  position: absolute;
  top: 381px;
  left: 0;
  width: 271px;
  z-index: 10;
}
.tabs a {
  background-color: #f8f8f8;
  display: block;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.tabs a em {
  display: block;
  color: #666;
}
.pageNum2 {
  position: absolute;
  top: 381px;
  left: 272px;
  width: 271px;
  z-index: 10;
}
.pageNum3 {
  position: absolute;
  top: 381px;
  left: 544px;
  width: 271px;
  z-index: 10;
}
.pageNum4 {
  position: absolute;
  top: 381px;
  left: 816px;
  width: 273px;
  z-index: 10;
}
.cateTxt {
  position: absolute;
  top: 0;
  left: 0;
  width: 129px;
  height: 412px;
  background-color: #fff;
  border-right: solid 1px #d8d8d8;
  padding-top: 10px;
}
.cateTxt .tp1 {
  padding-left: 15px;
}
.cateTxt .tp1 li {
  width: 110px;
  line-height: 20px;
  overflow: hidden;
  font-size: 12px;
  letter-spacing: -1px;
}
.cateTxt .tp1 li a {
  color: #666;
}
.cateTxt .tp1 li a:hover {
  text-decoration: underline;
}
.cateTxt .tp1 li em {
  margin: 0 1px;
  color: #ccc;
}
.mbnRoll {
  width: 959px;
  text-align: center;
  position: absolute;
  left: 130px;
  top: 0;
}
.mbnRoll img {
  width: 959px;
  height: 421px;
}
.mbnRoll .tabs {
  width: 136px;
}
.mbnRoll .pageNum1 {
  left: 0;
}
.mbnRoll .pageNum2 {
  left: 137px;
}
.mbnRoll .pageNum3 {
  left: 274px;
}
.mbnRoll .pageNum4 {
  left: 411px;
}
.mbnRoll .pageNum5 {
  position: absolute;
  top: 381px;
  z-index: 10;
  left: 548px;
}
.mbnRoll .pageNum6 {
  position: absolute;
  top: 381px;
  z-index: 10;
  left: 685px;
}
.mbnRoll .pageNum7 {
  position: absolute;
  top: 381px;
  z-index: 10;
  left: 822px;
  width: 137px;
}
.mbnContImg li {
  width: 319px;
  text-align: center;
  float: left;
  border-left: solid 1px #f4f4f4;
  overflow: hidden;
}
.mbnContImg li:first-child {
  border-left: none;
}
.mbnContImg li:last-child {
  width: 318px;
}
.mbnContImg li a {
  width: 100%;
}
.mbnContImg li a img {
  width: 100%;
  object-fit: contain;
  background-color: #fff;
}
.r6 .tabs {
  width: 159px;
}
.r6 .pageNum1 {
  left: 0;
}
.r6 .pageNum2 {
  left: 160px;
}
.r6 .pageNum3 {
  left: 320px;
}
.r6 .pageNum4 {
  left: 480px;
}
.r6 .pageNum5 {
  left: 640px;
}
.r6 .pageNum6 {
  left: 800px;
  width: 159px;
}
.mbnCont .mbnBtn {
  position: absolute;
  left: 0;
  top: 155px;
  z-index: 10;
  width: 34px;
  height: 38px;
  cursor: pointer;
  display: none;
}
.mbnCont .prev {
  top: 191px;
}
.mbnCont .next {
  top: 191px;
  left: 1056px;
}
.mbnCont .mbnBtn i {
  background-color: rgba(51, 51, 51, 0.3);
  width: 34px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mbnCont .mbnBtn i:hover {
  background-color: #333;
}
.YNnot .prev {
  left: 129px;
}
.cateTxt h4 {
  padding: 0 0 0 15px;
  height: 20px;
  line-height: 16px;
  font-size: 12px;
  letter-spacing: -1px;
  font-weight: bold;
  color: #333;
}
.cateTxt h4 a {
  color: #333;
}
.cateTxt h4 img {
  margin: 3px 0 0 0;
  width: 12px;
  height: 12px;
  vertical-align: top;
}
.mgt15 {
  margin-top: 15px;
}
.mgt3 {
  margin-top: 3px;
}
.mgt10 {
  margin-top: 10px;
}
.cateTxt .tp2 {
  padding-left: 12px;
}
.cateTxt .tp2 li {
  width: 110px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  letter-spacing: -1px;
}
.cateTxt .tp2 li a {
  color: #6699cc;
}
.cateTxt .tp2 li a:hover {
  text-decoration: underline;
}
.r5 .tabs {
  width: 191px;
}
.r5 .pageNum1 {
  left: 0;
}
.r5 .pageNum2 {
  left: 192px;
}
.r5 .pageNum3 {
  left: 384px;
}
.r5 .pageNum4 {
  left: 576px;
}
.r5 .pageNum5 {
  left: 768px;
}

/* main2 */
#main2 {
  position: relative;
  margin: 20px auto 0;
  width: 1200px;
  height: auto;
  text-align: left;
}
#main2:after {
  content: "";
  clear: both;
  display: block;
}
.ADcont {
  width: 238px;
  text-align: center;
  float: left;
  overflow: hidden;
  border: solid 1px #d8d8d8;
  background-color: #fff;
}
.ADcont .ADBigBn {
  position: relative;
  overflow: hidden;
  border-bottom: solid 1px #d8d8d8;
}
.ADcont .ADSmallBn {
  position: relative;
  height: auto;
  overflow: hidden;
}
.ADcont .ADTag {
  position: absolute;
  top: 9px;
  left: 216px;
  width: 13px;
  height: 9px;
  color: #ccc;
  font-size: 7px;
}
.ADcont a {
  display: block;
  padding: 10px 0;
}
.ADcont img {
  width: 188px;
}
.todayBook {
  position: relative;
  width: 720px;
  height: 389px;
  float: left;
  z-index: 1;
}
.todayBook h2 {
  position: absolute;
  top: 0;
  left: 295px;
  z-index: 5;
}
.todayBook h2 a {
  display: block;
  height: 34px;
  overflow: hidden;
  line-height: 34px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  letter-spacing: -0.5px;
}
.todayBook h2 a .arrow {
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 72px;
}
.todayBArea {
  padding: 287px 0 0 295px;
}
.todayBArea .todayBUnit {
  display: inline-block;
  margin: -1px;
  margin-right: 16px;
}
.todayBArea .todayBUnit .tBThumb {
  position: relative;
  z-index: 2;
  border: solid 1px #d8d8d8;
  display: inline-block;
}
.todayBArea .todayBUnit .tBThumb img {
  width: 60px;
  max-height: 90px;
  vertical-align: bottom;
}
.todayBArea .todayBUnit:nth-child(3) .tBThumb img {
  max-height: 86px;
}
.todayBArea .todayBUnit:last-child .tBThumb img {
  max-height: 81px;
}
.todayBArea .todayBUnit .tBThumb:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 4px solid #0080ff;
  z-index: 1;
}
.tBcont {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  height: 338px;
}
.tBcont .tBImgArea {
  position: absolute;
  left: 40px;
  top: 0;
  z-index: 1;
}
.tBcont .tBImgArea .tB_img {
  width: 223px;
  height: 336px;
}
.tBcont .tBImgArea .tB_img a {
  border: solid 1px #d8d8d8;
  display: inline-block;
}
.tBcont .tBImgArea .tB_img a img {
  width: 225px;
  max-height: 338px;
  margin: -1px;
}
.tBcont .tBInfo {
  padding: 40px 0 0 295px;
}
.tBcont .tBInfo .tB_readTit {
  font-weight: bold;
  width: 385px;
  height: 23px;
  line-height: 23px;
  font-size: 16px;
}
.tBcont .tBInfo .tB_readTit a {
  color: #6699cc;
}
.tBcont .tBInfo .tB_readTit a:hover {
  text-decoration: underline;
}
.tBcont .tBInfo .tB_readCon {
  margin-top: 7px;
  width: 380px;
  max-height: 110px;
  line-height: 22px;
  font-size: 14px;
  word-break: break-all;
  text-align: justify;
  color: #999;
}
.tBcont .tBInfo .tB_readCon a {
  color: #999;
}
.tBcont .tBInfo .tB_name {
  width: 385px;
  height: 19px;
  line-height: 19px;
  font-size: 14px;
  margin-top: 16px;
  font-weight: bold;
}
.tBcont .tBInfo .tB_name a {
  color: #333;
}
.tBcont .tBInfo .tB_name a:hover {
  text-decoration: underline;
}
.tBcont .tBInfo .tB_pub {
  width: 385px;
  margin-top: 5px;
  font-size: 12px;
  color: #999;
}
.tBcont .tBInfo .tB_pub .divi {
  margin: 3px 4px 0 0;
  width: 1px;
  height: 12px;
  text-indent: -999em;
  border-right: solid 1px #ccc;
  display: inline-block;
}
.tBcont .tBInfo .tB_price {
  padding-top: 18px;
  width: 300px;
  font-size: 12px;
}
.tBcont .tBInfo .tB_price strong {
  color: #333;
  margin-right: -5px;
}
.tBcont .tBInfo .tB_price .txt_price {
  margin-right: 5px;
}
.tBcont .tBInfo .tB_price .txt_price .yes_b {
  font-size: 16px;
  vertical-align: -1px;
  color: #333;
  margin-right: -4px;
}
.txt_point {
  position: relative;
  margin-left: 15px;
}
.txt_point .ico_point {
  background: url(../img/main2/point.png) no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: -18px;
}
.todayBook .btnTB {
  position: absolute;
  top: 155px;
  z-index: 10;
  width: 34px;
  height: 38px;
  cursor: pointer;
  display: none;
}
.todayBook .prev {
  left: -1px;
}
.todayBook .next {
  right: -1px;
}
.btnTB i {
  background-color: rgba(51, 51, 51, 0.2);
  width: 34px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnTB i:hover {
  background-color: #333;
}
.tBBar {
  position: absolute;
  top: 375px;
  left: 0;
  width: 720px;
  height: 20px;
}
#BestPopWrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 240px;
  height: 389px;
}
#BestPopWrap::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 10;
  height: 30px;
  border-right: solid 1px #d8d8d8;
}
.bestArea {
  float: left;
  width: 50%;
  height: 30px;
  background-color: #fff;
}
.bestArea h2 {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #555;
}
.bestArea h2 a {
  display: block;
  height: 28px;
  line-height: 28px;
  overflow: hidden;
  font-size: 12px;
  color: #999;
  border-top: solid 1px #d8d8d8;
  border-left: solid 1px #d8d8d8;
  border-bottom: solid 1px #d8d8d8;
  white-space: nowrap;
  border-bottom-color: #fff;
}
.bestArea h2 a em {
  color: #333;
}
.bestLi {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  padding-top: 15px;
  height: 343px;
  background-color: #fff;
  border: solid 1px #d8d8d8;
  border-top: none;
}
.bestLi .optTit {
  position: relative;
  z-index: 2;
  margin: 0 15px;
  padding: 0 0 14px 0;
}
.bestLi .optTit .bestOpt dt {
  display: block;
  height: 22px;
  border: solid 1px #d8d8d8;
  background: none;
  background-color: #fff;
}
.bestLi .optTit .bestOpt dt a {
  position: relative;
  display: block;
  padding-left: 10px;
  height: 22px;
  font-size: 12px;
  font-weight: bold;
  color: #333;
  line-height: 22px;
  cursor: pointer;
}
.bestLi .optTit .bestOpt dt a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 20px;
  width: 1px;
  height: 22px;
  border-right: 1px solid #ddd;
}
.bestLi .optTit .bestOpt dt::after {
  content: "";
  background: url(../img/main2/dropdown.png) no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 5px;
  right: 3px;
  cursor: pointer;
}
.bestLi .optTit .bestOpt dt.c::after {
  content: "";
  background: url(../img/main2/dropup.png);
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  right: 3px;
}
.bestLi .optTit dd {
  position: absolute;
  top: 23px;
  left: 0;
  right: 0;
}
.bestLi .optTit dd ul {
  padding: 5px 0;
  border: solid 1px #d8d8d8;
  border-top: solid 1px #ebebeb;
  background-image: none;
  background-color: #fff;
}
.bestLi .optTit dd ul li a {
  display: block;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  color: #666;
  text-indent: 10px;
}
.popArea h2 a {
  border-left: none;
  border-right: solid 1px #d8d8d8;
  border-bottom: solid 1px #d8d8d8;
}
.popArea h2 a em {
  color: #999;
}
.best01Grp {
  position: relative;
  z-index: 1;
  padding-left: 14px;
}
.best01Grp h3 {
  float: left;
  font-size: 11px;
  font-weight: normal;
}
.best01Grp h3 a {
  color: #999;
}
.best01Grp h3 a:hover {
  text-decoration: underline;
}
.best01Grp .divi {
  margin: 0 6px 0 3px;
  color: #ccc;
  font-weight: normal;
}
.best01 {
  position: absolute;
  top: 24px;
  right: 15px;
  left: 15px;
}
.best01 ol {
  padding-top: 1px;
}
.best01 .tp02 {
  position: relative;
  height: 55px;
}
.best01 .tp02 .icon {
  display: block;
  position: absolute;
  left: 4px;
  top: 0;
  z-index: 1;
  width: 16px;
  height: 16px;
  overflow: hidden;
  font-size: 11px;
  color: #666;
  text-indent: -999em;
}
.tp02 .rnk_1 {
  background: url(../img/main2/number-1.png) no-repeat;
}
.tp02 .rnk_2 {
  background: url(../img/main2/number-2.png) no-repeat;
}
.tp02 .rnk_3 {
  background: url(../img/main2/number-3.png) no-repeat;
}
.tp02 .rnk_4 {
  background: url(../img/main2/number-4.png) no-repeat;
}
.tp02 .rnk_5 {
  background: url(../img/main2/number-5.png) no-repeat;
}
.tp02 .rnk_6 {
  background: url(../img/main2/number-6.png) no-repeat;
}
.tp02 .rnk_7 {
  background: url(../img/main2/number-7.png) no-repeat;
}
.tp02 .rnk_8 {
  background: url(../img/main2/number-8.png) no-repeat;
}
.tp02 .rnk_9 {
  background: url(../img/main2/number-9.png) no-repeat;
}
.tp02 .rnk_10 {
  background: url(../img/main2/number-10.png) no-repeat;
}
.best01 .tp02 .divi {
  position: absolute;
  top: 15px;
  left: 2px;
  font-size: 10px;
  letter-spacing: 1px;
}
.best01 .tp02 .rnk_chg {
  position: absolute;
  top: 24px;
  left: 9px;
}
.best01 .tp02 .rnk_img {
  position: absolute;
  top: 0;
  left: 27px;
  width: 43px;
  height: 43px;
  display: block;
  border: solid 1px #d8d8d8;
  overflow: hidden;
}
.best01 .tp02 .rnk_img img {
  margin: -1px;
  width: 45px;
}
.best01 .tp02 .rnk_info {
  padding-left: 81px;
  display: block;
}
.best01 .tp02 .rnk_info strong {
  min-height: 16px;
  height: auto;
  max-height: 32px;
  line-height: 16px;
  overflow: hidden;
  white-space: normal;
  word-break: break-all;
  text-overflow: clip;
  color: #333;
  font-weight: bold;
  font-size: 12px;
  display: block;
}
.best01 .tp02 .rnk_info em {
  margin-top: 2px;
  display: block;
  height: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
  font-size: 11px;
}
#bestli .more_btn {
  position: absolute;
  top: 48px;
  right: 14px;
  z-index: 1;
  width: 40px;
  height: 14px;
}
#bestli .more_btn a {
  font-size: 11px;
}
#bestli .more {
  zoom: 0.6;
  top: 5px;
}
.pop01Grp {
  padding-top: 1px;
}
.pop01Grp ol {
  margin: 0 15px;
}
.pop01Grp ol li {
  float: none;
  margin-bottom: 10px;
  width: auto;
  height: 20px;
}
.pop01Grp ol li a {
  position: relative;
  display: block;
  width: auto;
  height: 20px;
  line-height: 20px;
  color: #333;
}
.pop01Grp ol li strong.icon {
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  text-indent: -999em;
}
.pop01Grp ol li a .txt {
  display: block;
  margin: 0 25px 0 23px;
  width: auto;
  height: 16px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
}
.pop01Grp ol li a .rnk_chg {
  display: block;
  position: absolute;
  left: auto;
  right: -3px;
  top: 1px;
  width: 24px;
  height: 13px;
  line-height: 13px;
  overflow: hidden;
}

/* main3 */
#main3 {
  display: table;
  width: 1198px;
  border: 1px solid #d8d8d8;
  background-color: #fff;
  table-layout: fixed;
  margin: 20px auto 0;
  text-align: left;
}
.nowBook {
  display: table-cell;
  padding: 10px 0;
  width: 959px;
  border: none;
  position: relative;
  float: left;
  height: 363px;
  background-color: #fff;
}
.nowBook h2,
.bookClub h2 {
  position: absolute;
  top: 20px;
  left: 29px;
}
.nowBook h2 a,
.bookClub h2 a {
  display: block;
  height: 34px;
  overflow: hidden;
  line-height: 34px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  letter-spacing: -0.5px;
}
.nowBook h2 a .arrow {
  position: absolute;
  top: 0;
  left: 80px;
  font-size: 12px;
}
.nowBookArea .nowBookSet,
.bookClubArea .bookClubSet {
  padding: 54px 0 0 70px;
}
.nowBookSet ul,
.bookClubSet ul {
  display: table;
  table-layout: fixed;
}
.nowBookSet ul li,
.bookClubSet ul li {
  display: table-cell;
  position: relative;
  width: 218px;
}
.goods_img {
  display: table-cell;
  position: relative;
  margin: 0;
  padding-left: 20px;
  width: 158px;
  height: 179px;
  vertical-align: bottom;
}
.goods_img .imgbox {
  position: relative;
  display: inline-block;
}
.goods_img .imgbox a {
  display: inline-block;
  border: 1px solid #ebebeb;
}
.goods_img .imgbox a img {
  margin: -1px;
  width: 125px;
  max-height: 179px;
  vertical-align: top;
}
.goods_info {
  margin: 16px 0 0 20px;
}
.goods_info .goods_tCmt {
  width: 180px;
  height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.goods_info .goods_tCmt em {
  display: block;
  width: 150px;
  height: 16px;
  overflow: hidden;
  color: #6699cc;
  line-height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
}
.goods_info .goods_name {
  margin-top: 4px;
  width: 180px;
  min-height: 16px;
  max-height: 32px;
  overflow: hidden;
  word-break: break-all;
  line-height: 16px;
  font-size: 13px;
  font-weight: bold;
}
.goods_info .goods_name a {
  color: #333;
}
.goods_info .goods_name a:hover {
  text-decoration: underline;
}
.goods_info .goods_pubGrp {
  display: block;
  margin-top: 6px;
  width: 180px;
  height: 15px;
  line-height: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
}
.goods_info .goods_pubGrp .goods_auth {
  color: #999;
}
.goods_info .goods_pubGrp .goods_pub {
  color: #999;
}
.goods_info .goods_pubGrp .divi {
  color: #ccc;
}
.goods_info .goods_price {
  margin-top: 8px;
  color: #333;
  font-weight: bolder;
  font-size: 12px;
}
.goods_info .goods_price .yes_b {
  font-size: 14px;
}
.nowBook .pageNum,
.bookClub .pageNum,
.bookClubRgt .pageNum,
#main9 .pageNum {
  position: absolute;
  top: 20px;
  right: 19px;
  font-size: 11px;
  color: #999;
}
.nowBook .pageNum strong,
.bookClub .pageNum strong {
  color: #333;
}
.nowBook .btnNB,
.bookClub .btnBC,
.bookClubRgt .btnBCR,
#main9 .btnBn {
  position: absolute;
  top: 160px;
  z-index: 10;
  width: 34px;
  height: 38px;
  cursor: pointer;
  display: none;
}
.nowBook .prev,
.bookClub .prev,
.bookClubRgt .prev {
  left: -1px;
}
.nowBook .next,
.bookClub .next,
.bookClubRgt .next {
  right: -1px;
}
.nowBook .btnNB i,
.bookClub .btnBC i,
.bookClubRgt .btnBCR i,
#main9 .btnBn i {
  background-color: rgba(51, 51, 51, 0.2);
  width: 34px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nowBook .btnNB i:hover,
.bookClub .btnBC i:hover,
.bookClubRgt .btnBCR i:hover,
#main9 .btnBn i:hover {
  background-color: #333;
}
.pubBook {
  display: table-cell;
  width: 238px;
  height: 356px;
  border: none;
  position: relative;
  float: right;
  padding-top: 27px;
  background-color: #ecf5fe;
}
.pubBook h2 {
  position: absolute;
  top: 20px;
  left: 30px;
  right: 0;
}
.pubBook h2 strong {
  display: block;
  color: #333;
  letter-spacing: -0.5px;
  height: 34px;
  line-height: 34px;
  font-size: 16px;
}
.pubBook h2 .ADTag {
  position: absolute;
  top: -1px;
  right: 10px;
  width: 13px;
  height: 9px;
  font-size: 7px;
  font-weight: normal;
  color: #ccc;
}
.pubBookUl {
  margin: 0 15px;
}
.pubBookUl li {
  padding: 27px 0 30px 0;
  text-align: center;
}
.pubBookUl li:first-child {
  padding: 43px 0 30px 0;
  height: 100px;
  border-bottom: 1px solid #d5e4f3;
}
.pubBookUl li img {
  width: 158px;
  height: 100px;
  vertical-align: top;
}
.pubBookUl li:last-child {
  padding: 30px 0;
}

/* main4 */
#main4 {
  margin-top: 20px;
  height: 200px;
  text-align: center;
  background: url(../img/main4/bg.jpg) no-repeat center center;
  background-size: cover;
}
#main4 a {
  display: block;
  margin: 0 auto;
  width: 960px;
  height: 200px;
  background: url(../img/main4/img001.png) no-repeat center top;
}

/* main5 */
#main5 {
  display: table;
  width: 1198px;
  border: solid 1px #d8d8d8;
  background-color: #fff;
  table-layout: fixed;
  margin: 20px auto 0;
  text-align: left;
}
#main5::after {
  content: "";
  clear: both;
  display: block;
}
.bookClub {
  display: table-cell;
  padding: 10px 0;
  width: 958px;
  border: none;
  position: relative;
  float: left;
  height: 347px;
  background-color: #fff;
}
.txt_BC {
  color: #425ca9;
}
.bookClub h2 a .arrow {
  position: absolute;
  top: 0;
  left: 138px;
  font-size: 12px;
}
.bookClubRgt {
  position: relative;
  width: 240px;
  height: 369px;
  display: table-cell;
  float: right;
  overflow: hidden;
}
.bookClubRgt a {
  padding-top: 0;
  display: block;
}
.bookClubRgt a img {
  width: 240px;
  height: 369px;
  margin: 0;
}

/* main6 */
#main6 {
  position: relative;
  width: 1200px;
  height: 691px;
  margin: 20px auto 0;
  text-align: left;
  font-size: 12px;
  color: #555;
}
.multiSecArea {
  display: block;
  clear: both;
}
.multiSecArea::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.multiSecUnit {
  width: 150px;
  height: 62px;
  float: left;
}

/* main7 */
#main7 {
  width: 1198px;
  padding: 10px 0 32px;
  margin: 20px auto 0;
  position: relative;
  border: 1px solid #d8d8d8;
  background-color: #fff;
}
.yesTvTit {
  margin: 0 29px;
  padding: 10px 0 21px 0;
}
.yesTvTit a {
  color: #333;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 34px;
}
.yesTvTit a .arrow {
  position: absolute;
  top: 19px;
  left: 133px;
  font-size: 12px;
}
.yesTvGrp {
  position: relative;
  margin-left: 30px;
}
.yesTvSet {
}
.TvArea {
  width: 640px;
  height: 360px;
}
.TvArea iframe {
  display: block;
}
.TvArea h3 {
  display: block;
  margin-top: 16px;
  height: 20px;
  overflow: hidden;
  line-height: 20px;
  font-weight: bold;
  color: #333;
  font-size: 15px;
}
.TvSub {
  position: absolute;
  top: -2px;
  left: 670px;
}
.TvSub .TvSubTit {
  height: 17px;
  line-height: 17px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
}
.TvSub .TvSubGrp {
  width: 136px;
  height: 200px;
  margin-top: 15px;
}
.TvSub .TvSubGrp .imgbox img {
  border: 1px solid #ebebeb;
  margin: -1px;
  width: 136px;
  max-height: 204px;
}
.TvSubExp {
  position: absolute;
  top: 33px;
  left: 150px;
  width: 328px;
}
.TvSubGrp .subCmt {
  display: block;
  margin: 0 auto;
  min-height: 17px;
  max-height: 34px;
  line-height: 17px;
  font-size: 12px;
  overflow: hidden;
  color: #6699cc;
}
.TvSubGrp .subTit {
  display: block;
  margin: 14px auto 0;
  min-height: 17px;
  max-height: 34px;
  line-height: 17px;
  font-size: 13px;
  overflow: hidden;
}
.TvSubGrp .subTit a {
  color: #333;
  font-weight: bold;
}
.TvSubGrp .subTit a:hover {
  text-decoration: underline;
}
.TvSubGrp .subPub {
  display: block;
  margin: 6px 0 0 0;
}
.TvSubGrp .subPub .auth {
  display: block;
  height: 16px;
  overflow: hidden;
  line-height: 16px;
  font-size: 12px;
  color: #999;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.TvSubGrp .subPub .pub {
  display: block;
  margin: 3px 0 0 0;
  height: 16px;
  overflow: hidden;
  line-height: 16px;
  font-size: 12px;
  color: #999;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.movGrp {
  position: absolute;
  bottom: 0;
  left: 670px;
  max-width: 498px;
  max-height: 76px;
}
.movGrp li {
  width: 136px;
  height: 76px;
  float: left;
  margin-right: 30px;
  position: relative;
}
.movGrp li img {
  width: 136px;
  height: 76px;
}
.movGrp li:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 4px solid #196ab3;
  z-index: 1;
}
.movGrp li::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -16px 0 0 -16px;
  width: 32px;
  height: 32px;
  background: url(../img/main7/play.png) no-repeat left top;
}

/* main8 */
#main8 {
  width: 1198px;
  margin: 20px auto 0;
  text-align: left;
}
.cardGrp {
  width: 100%;
  min-height: 611px;
  border: 1px solid #d8d8d8;
  background-color: #fff;
  display: table;
  table-layout: fixed;
}
.cardLeft {
  position: relative;
  display: table-cell;
  width: 418px;
  border-right: 1px solid #d8d8d8;
}
.cardRight {
  display: table-cell;
}
.cardRight .cRTop {
  position: relative;
  min-height: 265px;
  padding: 20px 0 20px 29px;
  border-bottom: 1px solid #d8d8d8;
}
.cardRight .cRBot {
  position: relative;
  min-height: 265px;
  padding: 20px 0 20px 29px;
}

/* main9 */
#main9 {
  position: relative;
  width: 1200px;
  margin: 20px auto 0;
  text-align: center;
}
#main9 .bnImgSet a {
  margin: 0 auto;
  padding: 10px 0;
  height: 60px;
  background-color: #2bbca9;
  display: block;
}
#main9 .bnImgSet a img {
  height: 100%;
}
#main9 .pageNum {
  top: 16px;
  right: 19px;
}
#main9 .btnBn {
  top: 50%;
  margin-top: -17px;
}
#main9 .prev {
  left: 0;
}
#main9 .next {
  right: 0;
}

/* main10 */
#main10 {
  margin-top: 20px;
  text-align: center;
}
.ServCon {
  display: table;
  width: 1198px;
  border: solid 1px #d8d8d8;
  table-layout: fixed;
  background-color: #fff;
  margin: 0 auto;
  text-align: left;
}
.ServLeft {
  display: table-cell;
  margin-right: 0;
  width: 720px;
  height: 238px;
  border: none;
  float: left;
  background-color: #fff;
}
.ServLeft h2 {
  padding: 15px 0 0 20px;
  height: 40px;
}
.ServLeft h2 em {
  display: block;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.servDl {
  padding-left: 20px;
}
.servDl dl {
  width: 160px;
  margin-right: 20px;
  float: left;
}
.servDl dl dt {
  padding-bottom: 5px;
}
.servDl dl dt strong {
  background-color: #666;
  color: #fff;
  text-align: center;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  display: block;
}
.servDl dl dd {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}
.servDl dl dd a {
  display: block;
  height: 20px;
  line-height: 20px;
  color: #666;
  text-indent: 4px;
}
.servDl dl.servBn {
  padding-left: 11px;
  width: 119px;
}
.servBn dt {
  display: none;
  padding-bottom: 5px;
}
.servBn dd li:first-child {
  margin-top: 0;
}
.servBn dd li {
  margin-top: 35px;
}
.servBn dd li a {
  margin-left: -4px;
}
.ServMid {
  display: table-cell;
  width: 237px;
  height: 238px;
  border: none;
  border-left: solid 1px #d8d8d8;
  float: left;
  background-color: #fff;
}
.ServMid a {
  padding-left: 5px;
  display: block;
}
.ServMid a h2 {
  padding: 15px 0 0 15px;
  height: 49px;
}
.ServMid a h2 em {
  display: block;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  position: relative;
}
.ServMid a h2 em .arrow {
  position: absolute;
  top: 0;
  right: 67px;
  font-size: 12px;
}
.ServMid img {
  padding-left: 5px;
}
.ServRight {
  display: table-cell;
  width: 239px;
  float: right;
}
.ServRight ul {
  border-left: 1px solid #d8d8d8;
}
.ServRight ul li a {
  padding: 11px 0;
  text-align: center;
  display: block;
  height: 96px;
  background-color: #fff;
}
.ServRight ul li:last-child {
  border-top: 1px solid #d8d8d8;
  margin-top: 0;
}
.ServRight ul li:last-child a {
  padding: 12px 0 11px;
}

/* main11 */
#main11 {
  width: 1198px;
  padding: 23px 0;
  position: relative;
  margin: 0 auto;
  text-align: left;
}
#main11::after {
  content: "";
  clear: both;
  display: block;
}
#main11 h2 {
  width: 90px;
  float: left;
}
#main11 h2 em {
  display: block;
  height: 34px;
  overflow: hidden;
  line-height: 34px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  letter-spacing: -0.5px;
  padding-left: 19px;
}
.notiLi {
  margin: 0 40px 0 97px;
}
.notiLi li {
  float: left;
  margin-right: 25px;
  line-height: 34px;
}
.notiLi li em.bl {
}
.notiLi li a {
  font-size: 12px;
  color: #666;
}
.notiLi li em.notDate {
  color: #999;
}
#main11 .moreNoti {
  position: absolute;
  top: 50%;
  right: 6px;
  margin-top: -7px;
  font-size: 11px;
}
#main11 .moreNoti .more {
  zoom: 0.6;
  top: 0;
}

/* main12 */
#main12 {
  width: 1198px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #d8d8d8;
}
#main12::after {
  content: "";
  clear: both;
  display: block;
}
.botBn li {
  float: left;
  width: 50%;
}
.botBn li a {
  display: block;
  padding: 10px 0;
}
.botBn li a img {
  width: 479px;
  height: 58px;
}
