@charset "UTF-8";

body {
  background-color: #f8f8f8 !important;
}
/* main1 */
#main1 {
  background-color: #fff;
  width: 1198px;
  height: 421px;
  position: relative;
  margin: 0 auto;
  text-align: left;
  border: solid 1px #d8d8d8;
}
#main1::before {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  bottom: -1px;
  z-index: 1;
  width: 109px;
  border-right: solid 1px #d8d8d8;
}
#mbnWrap {
  width: 109px;
  position: relative;
  z-index: 2;
  padding-top: 9px;
  height: 412px;
  display: block;
}
.mbn_dp1 {
  width: 110px;
  height: 40px;
  float: left;
}
.mbn_dp1 h3 a {
  display: block;
  padding-left: 13px;
  height: 40px;
  line-height: 40px;
  color: #000;
  font-size: 14px;
  border-left: none;
}
.mbnSub {
  position: absolute;
  top: 0;
  left: 109px;
  width: 1089px;
  height: 421px;
  overflow: hidden;
}
.mbnCont {
  position: relative;
  z-index: 1;
}
.mbnRoll_yNow {
  position: absolute;
  top: 0;
  left: 0;
  width: 1089px;
}
.mbnContImg {
  overflow: hidden;
}
.mbnContImg img {
  width: 1089px;
  height: 421px;
  margin-left: 0;
}
.pageNum1 {
  position: absolute;
  top: 381px;
  left: 0;
  width: 271px;
  z-index: 10;
}
.tabs a {
  background-color: #f8f8f8;
  display: block;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.tabs a em {
  display: block;
  color: #666;
}
.pageNum2 {
  position: absolute;
  top: 381px;
  left: 272px;
  width: 271px;
  z-index: 10;
}
.pageNum3 {
  position: absolute;
  top: 381px;
  left: 544px;
  width: 271px;
  z-index: 10;
}
.pageNum4 {
  position: absolute;
  top: 381px;
  left: 816px;
  width: 273px;
  z-index: 10;
}
.cateTxt {
  position: absolute;
  top: 0;
  left: 0;
  width: 129px;
  height: 412px;
  background-color: #fff;
  border-right: solid 1px #d8d8d8;
  padding-top: 10px;
}
.cateTxt .tp1 {
  padding-left: 15px;
}
.cateTxt .tp1 li {
  width: 110px;
  line-height: 20px;
  overflow: hidden;
  font-size: 12px;
  letter-spacing: -1px;
}
.cateTxt .tp1 li a {
  color: #666;
}
.cateTxt .tp1 li a:hover {
  text-decoration: underline;
}
.cateTxt .tp1 li em {
  margin: 0 1px;
  color: #ccc;
}
.mbnRoll {
  width: 959px;
  text-align: center;
  position: absolute;
  left: 130px;
  top: 0;
}
.mbnRoll img {
  width: 959px;
  height: 421px;
}
.mbnRoll .tabs {
  width: 136px;
}
.mbnRoll .pageNum1 {
  left: 0;
}
.mbnRoll .pageNum2 {
  left: 137px;
}
.mbnRoll .pageNum3 {
  left: 274px;
}
.mbnRoll .pageNum4 {
  left: 411px;
}
.mbnRoll .pageNum5 {
  position: absolute;
  top: 381px;
  z-index: 10;
  left: 548px;
}
.mbnRoll .pageNum6 {
  position: absolute;
  top: 381px;
  z-index: 10;
  left: 685px;
}
.mbnRoll .pageNum7 {
  position: absolute;
  top: 381px;
  z-index: 10;
  left: 822px;
  width: 137px;
}
.mbnContImg li {
  width: 319px;
  text-align: center;
  float: left;
  border-left: solid 1px #f4f4f4;
  overflow: hidden;
}
.mbnContImg li:first-child {
  border-left: none;
}
.mbnContImg li:last-child {
  width: 318px;
}
.mbnContImg li a {
  width: 100%;
}
.mbnContImg li a img {
  width: 100%;
  object-fit: contain;
  background-color: #fff;
}
.r6 .tabs {
  width: 159px;
}
.r6 .pageNum1 {
  left: 0;
}
.r6 .pageNum2 {
  left: 160px;
}
.r6 .pageNum3 {
  left: 320px;
}
.r6 .pageNum4 {
  left: 480px;
}
.r6 .pageNum5 {
  left: 640px;
}
.r6 .pageNum6 {
  left: 800px;
  width: 159px;
}
.mbnCont .mbnBtn,
.todayBook .btnTB,
.nowBook .btnNB,
.bookClub .btnBC,
.bookClubRgt .btnBCR,
#main6 .btnMC,
#main7 .btnTv,
.cLTop .btnCT,
.cLBot .btnCN,
.cardRight .btnCR,
#main9 .btnBn {
  position: absolute;
  top: 155px;
  z-index: 10;
  width: 34px;
  height: 38px;
  cursor: pointer;
  display: none;
}
.nowBook .btnNB,
.bookClub .btnBC,
.bookClubRgt .btnBCR,
.cLBot .btnCN {
  top: 160px;
}
.mbnCont .prev {
  top: 191px;
}
.mbnCont .next {
  top: 191px;
  left: 1056px;
}
.todayBook .prev,
.nowBook .prev,
.bookClub .prev,
.bookClubRgt .prev,
#main7 .prev,
#main8 .prev {
  left: -1px;
}
.todayBook .next,
.nowBook .next,
.bookClub .next,
.bookClubRgt .next,
#main7 .next,
#main8 .next {
  right: -1px;
}
.mbnCont .mbnBtn i,
.btnTB i,
.btnNB i,
.btnBC i,
.btnBCR i,
.btnMC i,
.btnBn i,
.btnTv i,
.btnCT i,
.btnCR i,
.btnCN i {
  background-color: rgba(51, 51, 51, 0.3);
  width: 34px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mbnCont .mbnBtn i:hover,
.btnTB i:hover,
.btnNB i:hover,
.btnBC i:hover,
.btnBCR i:hover,
.btnMC i:hover,
.btnBn i:hover,
.btnTv i:hover,
.btnCT i:hover,
.btnCR i:hover,
.btnCN i:hover {
  background-color: #333;
}
.YNnot .prev {
  left: 129px;
}
.cateTxt h4 {
  padding: 0 0 0 15px;
  height: 20px;
  line-height: 16px;
  font-size: 12px;
  letter-spacing: -1px;
  font-weight: bold;
  color: #333;
}
.cateTxt h4 a {
  color: #333;
}
.cateTxt h4 img {
  margin: 3px 0 0 0;
  width: 12px;
  height: 12px;
  vertical-align: top;
}
.mgt15 {
  margin-top: 15px;
}
.mgt3 {
  margin-top: 3px;
}
.mgt10 {
  margin-top: 10px;
}
.cateTxt .tp2 {
  padding-left: 12px;
}
.cateTxt .tp2 li {
  width: 110px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  letter-spacing: -1px;
}
.cateTxt .tp2 li a {
  color: #6699cc;
}
.cateTxt .tp2 li a:hover {
  text-decoration: underline;
}
.r5 .tabs {
  width: 191px;
}
.r5 .pageNum1 {
  left: 0;
}
.r5 .pageNum2 {
  left: 192px;
}
.r5 .pageNum3 {
  left: 384px;
}
.r5 .pageNum4 {
  left: 576px;
}
.r5 .pageNum5 {
  left: 768px;
}

/* main2 */
#main2 {
  position: relative;
  margin: 20px auto 0;
  width: 1200px;
  height: auto;
  text-align: left;
}
#main2:after {
  content: "";
  clear: both;
  display: block;
}
.ADcont {
  width: 238px;
  text-align: center;
  float: left;
  overflow: hidden;
  border: solid 1px #d8d8d8;
  background-color: #fff;
}
.ADcont .ADBigBn {
  position: relative;
  overflow: hidden;
  border-bottom: solid 1px #d8d8d8;
}
.ADcont .ADSmallBn {
  position: relative;
  height: auto;
  overflow: hidden;
}
.ADcont .ADTag {
  position: absolute;
  top: 9px;
  left: 216px;
  width: 13px;
  height: 9px;
  color: #ccc;
  font-size: 7px;
}
.ADcont a {
  display: block;
  padding: 10px 0;
}
.ADcont img {
  width: 188px;
}
.todayBook {
  position: relative;
  width: 720px;
  height: 389px;
  float: left;
  z-index: 1;
}
.todayBook h2 {
  position: absolute;
  top: 0;
  left: 295px;
  z-index: 5;
}
.todayBook h2 a {
  display: block;
  height: 34px;
  overflow: hidden;
  line-height: 34px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  letter-spacing: -0.5px;
}
.todayBook h2 a .arrow {
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 72px;
}
.todayBArea {
  padding: 287px 0 0 295px;
}
.todayBArea .todayBUnit {
  display: inline-block;
  margin: -1px;
  margin-right: 16px;
}
.todayBArea .todayBUnit .tBThumb {
  position: relative;
  z-index: 2;
  border: solid 1px #d8d8d8;
  overflow: hidden;
  display: inline-block;
}
.todayBArea .todayBUnit .tBThumb img {
  width: 60px;
  margin: -1px;
  max-height: 90px;
  vertical-align: bottom;
}
.todayBArea .todayBUnit:nth-child(3) .tBThumb img {
  max-height: 86px;
}
.todayBArea .todayBUnit:last-child .tBThumb img {
  max-height: 81px;
}
.todayBArea .todayBUnit .tBThumb.hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 4px solid #0080ff;
  z-index: 1;
}
.tBcont {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  height: 338px;
}
.tBcont .tBImgArea {
  position: absolute;
  left: 40px;
  top: 0;
  z-index: 1;
}
.tBcont .tBImgArea .tB_img {
  width: 223px;
  height: 336px;
}
.tBcont .tBImgArea .tB_img a {
  border: solid 1px #d8d8d8;
  overflow: hidden;
  display: inline-block;
}
.tBcont .tBImgArea .tB_img a img {
  width: 225px;
  max-height: 338px;
  margin: -1px;
}
.tBcont .tBInfo {
  padding: 40px 0 0 295px;
}
.tBcont .tBInfo .tB_readTit {
  font-weight: bold;
  width: 385px;
  height: 23px;
  line-height: 23px;
  font-size: 16px;
}
.tBcont .tBInfo .tB_readTit a {
  color: #6699cc;
}
.tBcont .tBInfo .tB_readTit a:hover {
  text-decoration: underline;
}
.tBcont .tBInfo .tB_readCon {
  margin-top: 7px;
  width: 380px;
  max-height: 110px;
  line-height: 22px;
  font-size: 14px;
  text-align: justify;
  color: #999;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  word-break: keep-all;
}
.tBcont .tBInfo .tB_readCon a {
  color: #999;
}
.tBcont .tBInfo .tB_name {
  width: 385px;
  height: 19px;
  line-height: 19px;
  font-size: 14px;
  margin-top: 16px;
  font-weight: bold;
}
.tBcont .tBInfo .tB_name a {
  color: #333;
}
.tBcont .tBInfo .tB_name a:hover {
  text-decoration: underline;
}
.tBcont .tBInfo .tB_pub {
  width: 385px;
  margin-top: 5px;
  font-size: 12px;
  color: #999;
}
.tBcont .tBInfo .tB_pub .divi {
  margin: 3px 4px 0 0;
  width: 1px;
  height: 12px;
  text-indent: -999em;
  border-right: solid 1px #ccc;
  display: inline-block;
}
.tBcont .tBInfo .tB_price {
  padding-top: 18px;
  width: 300px;
  font-size: 12px;
}
.tBcont .tBInfo .tB_price strong {
  color: #333;
  margin-right: -5px;
}
.tBcont .tBInfo .tB_price .txt_price {
  margin-right: 5px;
}
.tBcont .tBInfo .tB_price .txt_price .yes_b {
  font-size: 16px;
  vertical-align: -1px;
  color: #333;
  margin-right: -4px;
}
.txt_point {
  position: relative;
  margin-left: 15px;
}
.txt_point .ico_point {
  background: url(../img/main2/point.png) no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: -18px;
}
.tBBar {
  position: absolute;
  top: 375px;
  left: 0;
  width: 720px;
  height: 20px;
}
#BestPopWrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 240px;
  height: 389px;
}
#BestPopWrap::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 10;
  height: 30px;
  border-right: solid 1px #d8d8d8;
}
.bestArea {
  float: left;
  width: 50%;
  height: 30px;
  background-color: #fff;
}
.bestArea h2 {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #555;
}
.bestArea h2 a {
  display: block;
  height: 28px;
  line-height: 28px;
  overflow: hidden;
  font-size: 12px;
  color: #999;
  border-top: solid 1px #d8d8d8;
  border-left: solid 1px #d8d8d8;
  border-bottom: solid 1px #d8d8d8;
  white-space: nowrap;
  border-bottom-color: #fff;
}
.bestArea h2 a em {
  color: #333;
}
.bestLi {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  padding-top: 15px;
  height: 343px;
  background-color: #fff;
  border: solid 1px #d8d8d8;
  border-top: none;
}
.bestLi .optTit {
  position: relative;
  z-index: 2;
  margin: 0 15px;
  padding: 0 0 14px 0;
}
.bestLi .optTit .bestOpt dt {
  display: block;
  height: 22px;
  border: solid 1px #d8d8d8;
  background: none;
  background-color: #fff;
}
.bestLi .optTit .bestOpt dt a {
  position: relative;
  display: block;
  padding-left: 10px;
  height: 22px;
  font-size: 12px;
  font-weight: bold;
  color: #333;
  line-height: 22px;
  cursor: pointer;
}
.bestLi .optTit .bestOpt dt a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 20px;
  width: 1px;
  height: 22px;
  border-right: 1px solid #ddd;
}
.bestLi .optTit .bestOpt dt::after {
  content: "";
  background: url(../img/main2/dropdown.png) no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 5px;
  right: 3px;
  cursor: pointer;
}
.bestLi .optTit .bestOpt dt.c::after {
  content: "";
  background: url(../img/main2/dropup.png);
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  right: 3px;
}
.bestLi .optTit dd {
  position: absolute;
  top: 23px;
  left: 0;
  right: 0;
}
.bestLi .optTit dd ul {
  padding: 5px 0;
  border: solid 1px #d8d8d8;
  border-top: solid 1px #ebebeb;
  background-image: none;
  background-color: #fff;
}
.bestLi .optTit dd ul li a {
  display: block;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  color: #666;
  text-indent: 10px;
}
.popArea h2 a {
  border-left: none;
  border-right: solid 1px #d8d8d8;
  border-bottom: solid 1px #d8d8d8;
}
.popArea h2 a em {
  color: #999;
}
.best01Grp {
  position: relative;
  z-index: 1;
  padding-left: 14px;
}
.best01Grp h3 {
  float: left;
  font-size: 11px;
  font-weight: normal;
}
.best01Grp h3 a {
  color: #999;
}
.best01Grp h3 a:hover {
  text-decoration: underline;
}
.best01Grp .divi {
  margin: 0 6px 0 3px;
  color: #ccc;
  font-weight: normal;
}
.best01 {
  position: absolute;
  top: 24px;
  right: 15px;
  left: 15px;
}
.best01 ol {
  padding-top: 1px;
}
.best01 .tp02 {
  position: relative;
  height: 55px;
}
.best01 .tp02 .icon {
  display: block;
  position: absolute;
  left: 4px;
  top: 0;
  z-index: 1;
  width: 16px;
  height: 16px;
  overflow: hidden;
  font-size: 11px;
  color: #666;
  text-indent: -999em;
}
.tp02 .rnk_1 {
  background: url(../img/main2/number-1.png) no-repeat;
}
.tp02 .rnk_2 {
  background: url(../img/main2/number-2.png) no-repeat;
}
.tp02 .rnk_3 {
  background: url(../img/main2/number-3.png) no-repeat;
}
.tp02 .rnk_4 {
  background: url(../img/main2/number-4.png) no-repeat;
}
.tp02 .rnk_5 {
  background: url(../img/main2/number-5.png) no-repeat;
}
.tp02 .rnk_6 {
  background: url(../img/main2/number-6.png) no-repeat;
}
.tp02 .rnk_7 {
  background: url(../img/main2/number-7.png) no-repeat;
}
.tp02 .rnk_8 {
  background: url(../img/main2/number-8.png) no-repeat;
}
.tp02 .rnk_9 {
  background: url(../img/main2/number-9.png) no-repeat;
}
.tp02 .rnk_10 {
  background: url(../img/main2/number-10.png) no-repeat;
}
.best01 .tp02 .divi {
  position: absolute;
  top: 15px;
  left: 2px;
  font-size: 10px;
  letter-spacing: 1px;
}
.best01 .tp02 .rnk_chg {
  position: absolute;
  top: 24px;
  left: 9px;
}
.best01 .tp02 .rnk_img {
  position: absolute;
  top: 0;
  left: 27px;
  width: 43px;
  height: 43px;
  display: block;
  border: solid 1px #d8d8d8;
  overflow: hidden;
}
.best01 .tp02 .rnk_img img {
  margin: -1px;
  width: 45px;
}
.best01 .tp02 .rnk_info {
  padding-left: 81px;
  display: block;
}
.best01 .tp02 .rnk_info strong {
  min-height: 16px;
  height: auto;
  max-height: 32px;
  line-height: 16px;
  overflow: hidden;
  white-space: normal;
  word-break: break-all;
  text-overflow: clip;
  color: #333;
  font-weight: bold;
  font-size: 12px;
  display: block;
}
.best01 .tp02 .rnk_info em {
  margin-top: 2px;
  display: block;
  height: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
  font-size: 11px;
}
#bestli .more_btn {
  position: absolute;
  top: 48px;
  right: 14px;
  z-index: 1;
  width: 40px;
  height: 14px;
}
#bestli .more_btn a {
  font-size: 11px;
}
#bestli .more {
  zoom: 0.6;
  top: 5px;
}
.pop01Grp {
  padding-top: 1px;
}
.pop01Grp ol {
  margin: 0 15px;
}
.pop01Grp ol li {
  float: none;
  margin-bottom: 10px;
  width: auto;
  height: 20px;
}
.pop01Grp ol li a {
  position: relative;
  display: block;
  width: auto;
  height: 20px;
  line-height: 20px;
  color: #333;
}
.pop01Grp ol li strong.icon {
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  text-indent: -999em;
}
.pop01Grp ol li a .txt {
  display: block;
  margin: 0 25px 0 23px;
  width: auto;
  height: 16px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
}
.pop01Grp ol li a .rnk_chg {
  display: block;
  position: absolute;
  left: auto;
  right: -3px;
  top: 1px;
  width: 24px;
  height: 13px;
  line-height: 13px;
  overflow: hidden;
}

/* main3 */
#main3 {
  display: table;
  width: 1198px;
  border: 1px solid #d8d8d8;
  background-color: #fff;
  table-layout: fixed;
  margin: 20px auto 0;
  text-align: left;
}
.nowBook {
  display: table-cell;
  padding: 10px 0;
  width: 959px;
  border: none;
  position: relative;
  float: left;
  height: 363px;
  background-color: #fff;
}
.nowBook h2,
.bookClub h2 {
  position: absolute;
  top: 20px;
  left: 29px;
}
.nowBook h2 a,
.bookClub h2 a {
  display: block;
  height: 34px;
  overflow: hidden;
  line-height: 34px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  letter-spacing: -0.5px;
}
.nowBook h2 a .arrow {
  position: absolute;
  top: 0;
  left: 80px;
  font-size: 12px;
}
.nowBookArea .nowBookSet,
.bookClubArea .bookClubSet {
  padding: 54px 0 0 70px;
}
.nowBookSet ul,
.bookClubSet ul {
  display: table;
  table-layout: fixed;
}
.nowBookSet ul li,
.bookClubSet ul li {
  display: table-cell;
  position: relative;
  width: 218px;
}
.goods_img {
  display: table-cell;
  position: relative;
  margin: 0;
  padding-left: 20px;
  width: 158px;
  height: 179px;
  vertical-align: bottom;
}
.goods_img .imgbox {
  position: relative;
  display: inline-block;
}
.goods_img .imgbox a {
  display: inline-block;
  border: 1px solid #ebebeb;
  overflow: hidden;
}
.goods_img .imgbox a img {
  margin: -1px;
  width: 125px;
  max-height: 179px;
  vertical-align: top;
}
.goods_info {
  margin: 16px 0 0 20px;
}
.goods_info .goods_tCmt {
  width: 180px;
  height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.goods_info .goods_tCmt em {
  display: block;
  width: 150px;
  height: 16px;
  overflow: hidden;
  color: #6699cc;
  line-height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
}
.goods_info .goods_name {
  margin-top: 4px;
  width: 180px;
  min-height: 16px;
  max-height: 32px;
  overflow: hidden;
  word-break: break-all;
  line-height: 16px;
  font-size: 13px;
  font-weight: bold;
}
.goods_info .goods_name a {
  color: #333;
}
.goods_info .goods_name a:hover {
  text-decoration: underline;
}
.goods_info .goods_pubGrp {
  display: block;
  margin-top: 6px;
  width: 180px;
  height: 15px;
  line-height: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
}
.goods_info .goods_pubGrp .goods_auth {
  color: #999;
}
.goods_info .goods_pubGrp .goods_pub {
  color: #999;
}
.goods_info .goods_pubGrp .divi {
  color: #ccc;
}
.goods_info .goods_price {
  margin-top: 8px;
  color: #333;
  font-weight: bolder;
  font-size: 12px;
}
.goods_info .goods_price .yes_b {
  font-size: 14px;
}
#wrap .pageNum {
  position: absolute;
  top: 20px;
  right: 19px;
  font-size: 11px;
  color: #999;
}
#wrap .pageNum strong {
  color: #333;
}
.pubBook {
  display: table-cell;
  width: 238px;
  height: 356px;
  border: none;
  position: relative;
  float: right;
  padding-top: 27px;
  background-color: #ecf5fe;
}
.pubBook h2 {
  position: absolute;
  top: 20px;
  left: 30px;
  right: 0;
}
.pubBook h2 strong {
  display: block;
  color: #333;
  letter-spacing: -0.5px;
  height: 34px;
  line-height: 34px;
  font-size: 16px;
}
.pubBook h2 .ADTag {
  position: absolute;
  top: -1px;
  right: 10px;
  width: 13px;
  height: 9px;
  font-size: 7px;
  font-weight: normal;
  color: #ccc;
}
.pubBookUl {
  margin: 0 15px;
}
.pubBookUl li {
  padding: 27px 0 30px 0;
  text-align: center;
}
.pubBookUl li:first-child {
  padding: 43px 0 30px 0;
  height: 100px;
  border-bottom: 1px solid #d5e4f3;
}
.pubBookUl li img {
  width: 158px;
  height: 100px;
  vertical-align: top;
}
.pubBookUl li:last-child {
  padding: 30px 0;
}

/* main4 */
#main4 {
  margin-top: 20px;
  height: 200px;
  text-align: center;
  background: url(../img/main4/bg.jpg) no-repeat center center;
  background-size: cover;
}
#main4 a {
  display: block;
  margin: 0 auto;
  width: 960px;
  height: 200px;
  background: url(../img/main4/img001.png) no-repeat center top;
}

/* main5 */
#main5 {
  display: table;
  width: 1198px;
  border: solid 1px #d8d8d8;
  background-color: #fff;
  table-layout: fixed;
  margin: 20px auto 0;
  text-align: left;
}
#main5::after {
  content: "";
  clear: both;
  display: block;
}
.bookClub {
  display: table-cell;
  padding: 10px 0;
  width: 958px;
  border: none;
  position: relative;
  float: left;
  height: 347px;
  background-color: #fff;
}
.txt_BC {
  color: #425ca9;
}
.bookClub h2 a .arrow {
  position: absolute;
  top: 0;
  left: 138px;
  font-size: 12px;
}
.bookClubRgt {
  position: relative;
  width: 240px;
  height: 369px;
  display: table-cell;
  float: right;
  overflow: hidden;
}
.bookClubRgt a {
  padding-top: 0;
  display: block;
}
.bookClubRgt a img {
  width: 240px;
  height: 369px;
  margin: 0;
}

/* main6 */
#main6 {
  position: relative;
  width: 1200px;
  height: 691px;
  margin: 20px auto 0;
  text-align: left;
  font-size: 12px;
  color: #555;
}
.multiSecArea {
  display: block;
  clear: both;
}
.multiSecArea::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.multiSecUnit {
  width: 150px;
  height: 62px;
  float: left;
}
.multiSecUnit h2 {
  display: block;
  position: relative;
  z-index: 10;
  height: 62px;
  background-color: #f8f8f8;
}
.multiSecUnit h2 a {
  position: relative;
  display: block;
  height: 61px;
  text-align: center;
  border: solid 1px #d8d8d8;
  border-right: none;
}
.multiSecUnit h2 a img {
  display: block;
  margin: 4px auto 0;
}
.multiSecUnit .txt_mSec {
  display: block;
  line-height: 8px;
  font-weight: normal;
}
.multiConArea {
  width: 1198px;
  height: 627px;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-top: none;
  position: absolute;
  top: 62px;
  left: 0;
  background: url(../img/main6/bg.gif) no-repeat left top;
}
.multiconTopSet {
  position: relative;
  height: 428px;
  overflow: hidden;
}
.multiconTopSet .secTit {
  position: relative;
  display: block;
}
.multiconTopSet .secTit em {
  position: absolute;
  top: 20px;
  left: 30px;
  line-height: 34px;
  font-size: 16px;
  color: #333;
  letter-spacing: -0.5px;
  display: block;
}
.multiconTopSet .bookBigTit {
  padding-top: 26px;
  height: 44px;
  text-align: center;
}
.multiconTopSet .bookBigTit li {
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  position: relative;
}
.multiconTopSet .bookBigTit li a {
  display: inline-block;
  color: #999;
  line-height: 20px;
  margin: 0 11.5px;
}
.multiconTopSet .bookBigTit li a:hover {
  text-decoration: underline;
}
.multiconTopSet .bookBigTit .divi:after {
  content: "";
  position: absolute;
  top: 5px;
  right: -5px;
  border-right: 1px solid #ccc;
  width: 1px;
  height: 12px;
}
#main6 .pageNum,
#main8 .pageNum,
#main9 .pageNum {
  top: 18px;
}
.bookBigCon {
  display: flex;
  justify-content: center;
}
.bookBigCon ul li {
  width: 362px;
  text-align: center;
  float: left;
}
.bookBigCon .book_img {
  position: relative;
  display: inline-block;
  border: 1px solid #ebebeb;
  overflow: hidden;
}
.bookBigCon .book_img img {
  margin: -1px;
  max-width: 290px;
  height: 250px;
}
.bookBigCon .book_info {
  margin-top: 14px;
}
.bookBigCon .book_cmt {
  margin: 0 auto;
  color: #6699cc;
  width: 230px;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bookBigCon .book_name {
  margin: 4px auto;
  width: 250px;
  height: 17px;
  line-height: 17px;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bookBigCon .book_name a {
  color: #333;
  font-weight: bold;
}
.bookBigCon .book_name a:hover {
  text-decoration: underline;
}
.bookBigCon .book_pubGrp {
  margin: 3px auto 0;
  width: 250px;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
}
.bookBigCon .goods_auth,
.bookBigCon .goods_pub {
  color: #999;
}
.book_price {
  margin-top: 3px;
  line-height: 16px;
  color: #333;
}
.book_price .yes_b {
  font-size: 14px;
  vertical-align: -1px;
  font-weight: bold;
  color: #333;
}
.book_price .ico_sale {
  background: url(../img/main6/discount.png) no-repeat;
  width: 16px;
  height: 16px;
  margin: 0 -4px 0 -7px;
  display: inline-block;
  text-indent: -9999px;
}
.book_price .ico_point {
  background: url(../img/main6/point.png) no-repeat;
  width: 16px;
  height: 16px;
  margin: 0 -4px 0 -7px;
  display: inline-block;
  text-indent: -9999px;
  zoom: 1.2;
}
#main6 .prev {
  top: 204px;
  left: -1;
}
#main6 .next {
  top: 204px;
  right: 0;
}
.multiConBotSet {
  position: relative;
  height: 198px;
}
.multiConBotSet .bookCornerTit {
  position: absolute;
  top: 3px;
  left: 21px;
  width: 320px;
  height: 138px;
  padding: 36px 5px 0 18px;
}
.multiConBotSet .bookCornerTit h4 {
  max-height: 44px;
  line-height: 16px;
  font-size: 16px;
  overflow: hidden;
}
.multiConBotSet .bookCornerTit h4 a {
  color: #333;
}
.multiConBotSet .bookCornerTit h4 a:hover {
  text-decoration: underline;
}
.multiConBotSet .bookCornerTit p {
  margin-top: 16px;
  max-height: 80px;
  line-height: 20px;
  font-size: 13px;
  overflow: hidden;
  color: #999;
}
.multiConBotSet .bookCornerTit p a {
  color: #999;
}
.multiConBotSet .bookCornerTit p a:hover {
  text-decoration: underline;
}
.multiConBotSet .bookCornerCon {
  position: absolute;
  top: 30px;
  left: 428px;
}
.multiConBotSet .bookCornerCon li {
  position: relative;
  float: left;
  text-align: center;
  width: 186px;
  /* overflow-x: hidden; */
}
.bookCornerCon .book_img {
  width: 140px;
  height: 120px;
  text-align: center;
  margin: 0 auto;
}
.bookCornerCon .book_img a {
  display: inline-block;
  margin: 0 auto;
  border: 1px solid #ebebeb;
  overflow: hidden;
}
.bookCornerCon .book_img a img {
  max-width: 140px;
  height: 120px;
  margin: -1px;
}
.bookCornerCon .book_info {
  margin-top: 8px;
  padding: 0 15px;
  text-align: center;
}
.bookCornerCon .book_name {
  width: 140px;
  height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;
  line-height: 16px;
}
.bookCornerCon .book_name a {
  color: #333;
}
.bookCornerCon .book_name a:hover {
  text-decoration: underline;
}

.sec1 .sector01 {
  width: 599px;
  height: 195px;
  float: left;
  position: relative;
}
.sec1 .usedCornerCon {
  position: absolute;
  top: 40px;
  left: 260px;
}
.sec1 .usedCornerCon ul {
  padding-left: 8px;
}
.sec1 .usedCornerCon ul li {
  position: relative;
  float: left;
  width: 140px;
  height: 135px;
  text-align: center;
}
.sec1 .usedCornerCon .book_img {
  width: 140px;
  height: 100px;
}
.sec1 .usedCornerCon .book_img a {
  display: inline-block;
  margin: 0 auto;
  border: 1px solid #ebebeb;
  overflow: hidden;
}
.sec1 .usedCornerCon .book_img img {
  max-width: 100px;
  height: 100px;
  margin: -1px;
  display: inline;
}
.sec1 .usedCornerCon .book_info {
  padding: 0 15px;
}
.sec1 .usedCornerCon .book_name {
  margin-top: 8px;
  width: 110px;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sec1 .usedCornerCon .book_name a:hover {
  text-decoration: underline;
}
.sec1 .sector02 {
  width: 199px;
  height: 199px;
  float: left;
  position: relative;
  border-left: 1px solid #eee;
}
.sec1 .usedBn {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 19px;
  text-align: center;
}
.sector03 {
  position: relative;
  float: right;
  width: 398px;
  height: 199px;
  border-left: 1px solid #eee;
}
.sec2 .book_price {
  margin-top: 4px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  color: #333;
}
.sec2 .book_cmt {
  margin: 1px auto 0;
  color: #999;
}
.sec2 .sector02 {
  position: relative;
  float: left;
  width: 799px;
  height: 195px;
  overflow: hidden;
}
.sector02Con {
  padding: 20px 0 0 19px;
}
.sector02Con .clipBn {
  position: relative;
  width: 220px;
}
.sector02Con .clipBn .bnTxt {
  height: 51px;
  line-height: 51px;
  border: 1px solid #e4e4e4;
  background-color: #f8f8f8;
  margin-top: -1px;
  position: relative;
}
.sector02Con .clipBn .bnTxt a {
  height: 51px;
  display: block;
}
.sector02Con .clipBn .bnTxt a em {
  display: block;
  margin: 0 15px 0 13px;
  white-space: nowrap;
  cursor: pointer;
  text-overflow: ellipsis;
  letter-spacing: -1px;
  font-weight: bold;
  color: #333;
}
.sector02Con .clipBn .bnTxt a em.arrow {
  position: absolute;
  right: -15px;
  top: 1px;
}
.sector02Con .clipBn .bnCon {
  position: absolute;
  top: 0;
  left: 221px;
  width: 558px;
}
.sector02Con .clipBn .bnCon ul {
  padding-left: 25px;
}
.sector02Con .clipBn .bnCon ul li {
  position: relative;
  text-align: center;
  float: left;
  width: 160px;
  height: 165px;
}
.sector02Con .clipBn .bnCon .book_img {
  margin: 0 auto;
  width: 140px;
  height: 100px;
  text-align: center;
}
.sector02Con .clipBn .bnCon .book_img a {
  margin: 0 auto;
  border: 1px solid #ebebeb;
  overflow: hidden;
  display: inline-block;
}
.sector02Con .clipBn .bnCon .book_img a img {
  margin: -1px;
  max-width: 100px;
  height: 100px;
}
.sector02Con .clipBn .bnCon .book_info {
  padding: 0 25px;
  text-align: center;
}
.sector02Con .clipBn .bnCon .book_info .book_name {
  margin-top: 8px;
  max-height: 32px;
  word-break: break-all;
  line-height: 16px;
  overflow: hidden;
}
.sector02Con .clipBn .bnCon .book_info .book_name a {
  color: #333;
  font-weight: 100;
}
.sector02Con .clipBn .bnCon .book_info .book_name a:hover {
  text-decoration: underline;
}
.sector02Con .clipBn .bnCon .book_info .book_price {
  margin-top: 4px;
  color: #333;
  font-weight: normal;
}
.sector02Con .clipBn .bnCon .book_info .book_price em {
  font-size: 14px;
  vertical-align: -1px;
  font-weight: bold;
}
.sector03 .secTit {
  padding: 10px 0 0 21px;
  display: block;
}
.sector03 .secTit em {
  display: block;
  height: 34px;
  overflow: hidden;
  line-height: 34px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  letter-spacing: -0.5px;
}
.sector03 .sector03Con {
  padding-left: 21px;
}
.sector03 .sector03Con .book_img {
  float: left;
  width: 86px;
  height: 128px;
  overflow: hidden;
  border: solid 1px #ebebeb;
}
.sector03 .sector03Con .book_img img {
  width: 88px;
  margin: -1px;
}
.sector03 .sector03Con .book_info {
  width: 240px;
  margin-left: 102px;
}
.sector03 .sector03Con .book_info .book_name {
  max-height: 32px;
  overflow: hidden;
  word-break: break-all;
  line-height: 16px;
  font-weight: bold;
}
.sector03 .sector03Con .book_info .book_name a {
  color: #333;
}
.sector03 .sector03Con .book_info .book_price .benefit {
  font-weight: normal;
}
.sector03 .sector03Con .book_info .book_price .benefit .ico_sale {
  display: inline-flex;
  align-items: center;
}
.sector03 .sector03Con .book_info .book_price .benefit .ico_point {
  display: inline-flex;
  align-items: end;
}
.sector03 .sector03Con .book_info .book_cmt {
  margin: 8px 0 0 0;
  height: 64px;
  overflow: hidden;
  color: #999;
  word-break: break-all;
  line-height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.m3sector01 {
  position: relative;
  width: 400px;
  height: 428px;
  float: left;
  text-align: center;
  border-right: 1px solid #ebebeb;
}
.m3sector01 .secTit,
.m3sector02 .secTit {
  height: 69px;
}
.m3sector01 .bookBigCon {
  margin: 0 auto;
  width: 319px;
}
.m3sector01 .book_img {
  width: 135px;
  height: 200px;
}
.m3sector01 .book_img a {
}
.m3sector01 .book_img a img {
  margin: -1px;
  width: 137px;
  height: auto;
}
.bookBigCon .book_readTit {
  margin-top: 12px;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  color: #6699cc;
}
.bookBigCon .book_readCon {
  margin: 0 auto;
  width: 240px;
  height: 48px;
  overflow: hidden;
  line-height: 12px;
  color: #999;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.m3sector02 {
  width: 398px;
  height: 428px;
  position: relative;
  float: left;
  border-right: 1px solid #ebebeb;
}
.m3sector02 li {
  clear: both;
  padding: 0;
  width: 360px;
  height: 155px;
  margin-bottom: 20px;
}
.m3sector02 .book_img {
  float: left;
  width: 90px;
}
.m3sector02 .book_img img {
  margin: -1px;
  width: 92px;
  height: auto;
  max-height: 140px;
}
.m3sector02 .book_info {
  margin-top: 0;
  margin-left: 105px;
  text-align: left;
}
.m3sector02 .book_name {
  margin: 0;
}
.m3sector02 .book_auth,
.m3sector02 .book_pub {
  margin-top: 7px;
  width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
}
.m3sector02 .book_readCon {
  margin: 0;
}
.m3sector03 {
  position: relative;
  float: right;
  overflow: hidden;
  width: 398px;
  height: 409px;
}
.m3sector03 ul {
  padding: 19px 20px 0 20px;
}
.m3sector03 ul li {
  padding: 10px 0;
  text-align: center;
}
.sector04 {
  position: relative;
  width: 1198px;
  height: 195px;
  overflow: hidden;
}
.sector04 .secTit {
  position: absolute;
  left: 19px;
  top: 20px;
  padding: 56px 0 0 0;
  width: 218px;
  height: 99px;
  border: solid 1px #ebebeb;
  text-align: center;
}
.sector04 .secTit em {
  display: block;
  height: 44px;
  overflow: hidden;
  line-height: 22px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  letter-spacing: -0.5px;
}
.secCon04 {
  position: absolute;
  top: 20px;
  left: 239px;
  width: 959px;
}
.secCon04 ul {
  padding-left: 29px;
}
.secCon04 ul li {
  position: relative;
  width: 180px;
  height: 165px;
  float: left;
  text-align: center;
}
.secCon04 .book_img {
  position: relative;
  width: 65px;
  height: 100px;
  display: inline-block;
}
.secCon04 .book_img a {
  margin: 0 auto;
  display: inline-block;
  border: 1px solid #ebebeb;
  overflow: hidden;
}
.secCon04 .book_img a img {
  width: 67px;
  margin: -1px;
}
.secCon04 .book_info {
  padding: 0 25px;
}
.secCon04 .book_name {
  margin-top: 8px;
  max-height: 32px;
  overflow: hidden;
  word-break: break-all;
  line-height: 16px;
}
.secCon04 .book_name a {
  color: #333;
}
.secCon04 .book_name a:hover {
  text-decoration: underline;
}
.secCon04 .book_price {
  font-weight: bold;
}
.sector04 .prev {
  top: 79px !important;
  left: -1;
}
.sector04 .next {
  top: 79px !important;
  right: 0;
}
.sec05Big {
  margin-top: 70px;
}
.sec05Big .book_name {
  width: 280px;
}
.sec05Big .book_cmt {
  margin: 2px auto 0;
  color: #999;
}
.sector02Con .tab4 .bnTxt {
  height: 38px;
  line-height: 38px;
}
.sector02Con .tab4 .bnTxt a {
  height: 38px;
}
.sector02Con .tab4 .bnCon {
  width: 959px;
}
.sector02Con .tab4 .bnCon ul li {
  width: 180px;
}
.m6s1 .bookBigCon {
  margin: 0;
  padding-top: 62px;
  width: auto;
  display: block;
}
.m6s1 .book_img {
  border: none;
  width: auto;
  height: auto;
  margin: 0 auto;
  max-width: 220px;
}
.m6s1 .book_img a img {
  width: auto;
}
.m6s1 .book_name {
  margin: 0 auto;
  width: 240px;
  white-space: normal;
  overflow: visible;
  max-height: 34px;
}
.m6s1 .book_price {
  margin-top: 20px;
}
.m6s1 .book_dim {
  color: #999;
}
.m6s1 .book_cmt {
  margin-top: 10px;
  width: 278px;
  height: 48px;
  color: #999;
}
.m6s2 em.arrow {
  top: 19px;
  left: 130px;
  font-size: 12px;
}
.m6s2 .bookBigCon ul li {
  width: 361px;
}
.m6s2 .book_img {
  width: 115px;
}
.m6s2 .book_img img {
  width: 117px;
}
.m6s2 .book_info {
  margin-left: 130px;
}
.m6s2 .book_info .book_etc {
  line-height: 16px;
  color: #6699cc;
}
.m6s2 .book_info .book_name {
  margin-top: 5px;
  width: auto;
  height: 34px;
  max-height: 34px;
  word-break: break-all;
  white-space: normal;
}
.sec6 .bookBigCon {
  padding-top: 59px;
}
.sec6 .bookBigCon li {
  margin-right: 10px;
}
.sec6 .bookBigCon .book_img img {
  max-width: 300px;
}
.sec6 .bookBigCon .book_info {
  margin-top: 19px;
}
.sec6 .bookBigCon .book_info .book_name {
  margin: 0 auto;
  width: 280px;
}
.sec6 .bookBigCon .book_info .book_name a {
  color: #6699cc;
}
.sec6 .bookBigCon .book_info .book_cmt {
  margin: 8px auto 0;
  width: 280px;
  height: 16px;
  color: #999;
}
.sec6 .multiConBotSet .bnCon {
  width: 959px;
}
.sec6 .multiConBotSet .bnCon ul {
  padding-left: 29px;
}
.sec6 .multiConBotSet .bnCon ul li {
  width: 180px;
}
.sec6 .multiConBotSet .bnCon .book_img {
  width: 100px;
  text-align: left;
}
.sec6 .multiConBotSet .bnCon .book_info .book_price {
  font-weight: bold;
}
.sec7 h2 a {
  border-right: 1px solid #d8d8d8;
}
.sec7 .secTit .arrow {
  top: 19px;
  left: 80px;
  font-size: 12px;
}
.bookBigCon .ticket_mov {
  position: absolute;
  top: 70px;
  left: 19px;
  right: 19px;
  text-align: center;
  height: 171px;
  overflow: hidden;
}
.bookBigCon .ticket_mov video {
  width: 280px;
  height: 172px;
}
.bookBigCon .mov_info {
  position: absolute;
  top: 258px;
  left: 65px;
  width: 260px;
  text-align: center;
}
.bookBigCon .mov_info .mov_name {
  width: 260px;
  height: 23px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: bold;
}
.bookBigCon .mov_info .mov_name a:hover {
  text-decoration: underline;
  color: #0080ff;
}
.bookBigCon .mov_info .mov_day,
.bookBigCon .mov_info .mov_loca {
  width: 260px;
  height: 19px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bookBigCon .mov_info .mov_cmt {
  margin-top: 13px;
  padding: 0 5px;
  height: 48px;
  overflow: hidden;
  line-height: 16px;
  color: #999;
}
.weekTicket {
  margin-top: 1px;
  text-align: center;
}
.weekTicket a {
  display: block;
  position: relative;
  width: 280px;
  height: 329px;
  border: none;
  margin: 0 auto;
}
.weekTicket a img {
  width: 280px;
  height: 329px;
  border: none;
  margin: 0 auto;
}
.weekTicket .weekBar {
  position: absolute;
  top: 351px;
  left: 59px;
  padding: 8px 0 0 15px;
  width: 265px;
  height: 40px;
  background-color: rgba(51, 51, 51, 0.8);
}
.weekTicket .weekBar .barTit .titName {
  color: #fff;
}
.weekTicket .weekBar .barTit {
  display: block;
  width: 250px;
  height: 32px;
  overflow: hidden;
  line-height: 16px;
  color: #fff;
  cursor: pointer;
}
.magazineLi .magaPos1 {
  position: absolute;
  top: 60px;
  left: 59px;
  width: 280px;
  height: 154px;
}
.magazineLi .magaPos1 a {
  display: block;
  position: relative;
  width: 280px;
  height: 154px;
  border: none;
}
.magazineLi .magaPos1 a img {
  width: 280px;
  height: 154px;
}
.magazineLi .magaBar {
  position: absolute;
  left: 0;
  top: 116px;
  padding: 8px 0 0 15px;
  width: 265px;
  height: 40px;
  background-color: rgba(51, 51, 51, 0.8);
  text-align: left;
}
.magaBar .barTit .titName {
  color: #fff;
}
.magaBar .barTit {
  display: block;
  width: 250px;
  height: 32px;
  overflow: hidden;
  line-height: 16px;
  color: #fff;
  cursor: pointer;
}
.magazineLi .magaPos2 {
  position: absolute;
  top: 235px;
  left: 59px;
  width: 280px;
  height: 154px;
}
.magazineLi .magaPos2 a {
  display: block;
  position: relative;
  width: 280px;
  height: 154px;
  border: none;
}
.magazineLi .magaPos2 a img {
  width: 280px;
  height: 154px;
}
#main6 .prev.mov {
  top: 290px;
}
#main6 .next.mov {
  top: 290px;
}
.tic_info {
  padding: 10px 10px 0;
  text-align: center;
}
.tic_info .tic_name {
  height: 32px;
  overflow: hidden;
  word-break: break-all;
  font-weight: bold;
  line-height: 16px;
}
.tic_info .tic_name a {
  color: #333;
}
.tic_info .tic_name a:hover {
  text-decoration: underline;
}
.tic_info .tic_des {
  margin-top: 7px;
  height: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #666;
}
.sec7 .sector03 {
  margin-top: -176px;
}
.sec7 .sector03 .secTit a {
  display: block;
  color: #333;
}
.sec7 .sector03 .notLi {
  position: absolute;
  top: 42px;
  left: 20px;
}
.sec7 .sector03 .notLi li {
  float: left;
  width: 356px;
  height: 18px;
  margin-bottom: 6px;
}
.sec7 .sector03 .notLi li a {
  display: block;
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 18px;
  font-size: 11px;
  color: #999;
}
.sec7 .sector03 .notLi li a:hover {
  text-decoration: underline;
}
.sec7 .sector03 .notLi li a img {
  margin-right: 5px;
}

/* main7 */
#main7 {
  width: 1198px;
  padding: 10px 0 64px;
  margin: 20px auto 0;
  position: relative;
  border: 1px solid #d8d8d8;
  background-color: #fff;
}
.yesTvTit {
  margin: 0 29px;
  padding: 10px 0 21px 0;
}
.yesTvTit a {
  color: #333;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 34px;
}
.yesTvTit a .arrow {
  position: absolute;
  top: 19px;
  left: 133px;
  font-size: 12px;
}
.yesTvGrp {
  position: relative;
  margin-left: 30px;
}
.yesTvSet {
}
.TvArea {
  width: 640px;
  height: 360px;
}
.TvArea iframe {
  display: block;
}
.TvArea h3 {
  display: block;
  margin-top: 16px;
  height: 20px;
  overflow: hidden;
  line-height: 20px;
  font-weight: bold;
  color: #333;
  font-size: 15px;
}
.TvSub {
  position: absolute;
  top: -2px;
  left: 670px;
}
.TvSub .TvSubTit {
  height: 17px;
  line-height: 17px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
}
.TvSub .TvSubGrp {
  width: 136px;
  height: 200px;
  margin-top: 15px;
  line-height: normal;
}
.TvSub .TvSubGrp .imgbox {
  border: 1px solid #ebebeb;
  overflow: hidden;
  float: left;
}
.TvSub .TvSubGrp .imgbox img {
  width: 138px;
  margin: -1px;
  max-height: 204px;
}
.TvSubExp {
  position: absolute;
  top: 33px;
  left: 150px;
  width: 328px;
}
.TvSubGrp .subCmt {
  display: block;
  margin: 0 auto;
  min-height: 17px;
  max-height: 34px;
  line-height: 17px;
  font-size: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #6699cc;
}
.TvSubGrp .subTit {
  display: block;
  margin: 14px auto 0;
  min-height: 17px;
  max-height: 34px;
  line-height: 17px;
  font-size: 13px;
  overflow: hidden;
}
.TvSubGrp .subTit a {
  color: #333;
  font-weight: bold;
}
.TvSubGrp .subTit a:hover {
  text-decoration: underline;
}
.TvSubGrp .subPub {
  display: block;
  margin: 6px 0 0 0;
}
.TvSubGrp .subPub .auth {
  display: block;
  height: 16px;
  overflow: hidden;
  line-height: 16px;
  font-size: 12px;
  color: #999;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.TvSubGrp .subPub .pub {
  display: block;
  margin: 3px 0 0 0;
  height: 16px;
  overflow: hidden;
  line-height: 16px;
  font-size: 12px;
  color: #999;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.movGrp {
  position: absolute;
  bottom: 0;
  left: 670px;
  max-width: 498px;
  max-height: 76px;
}
.movGrp .TvThumb {
  width: 134px;
  height: 76px;
  float: left;
  margin-right: 30px;
  position: relative;
  border: 1px solid #ebebeb;
  overflow: hidden;
}
.movGrp .TvThumb img {
  width: 136px;
  margin: -1px;
}
.movGrp .TvThumb.hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 4px solid #196ab3;
  z-index: 1;
}
.movGrp .TvThumb::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -16px 0 0 -16px;
  width: 32px;
  height: 32px;
  background: url(../img/main7/play.png) no-repeat left top;
}
.movGrp .TvThumb:hover::after {
  opacity: 0;
}
#main7 .btnTv,
.cardRight .btnCR {
  top: 50%;
  margin-top: -19px;
}

/* main8 */
#main8 {
  width: 1198px;
  margin: 20px auto 0;
  text-align: left;
}
.cardGrp {
  width: 100%;
  min-height: 611px;
  border: 1px solid #d8d8d8;
  background-color: #fff;
  display: table;
  table-layout: fixed;
}
.cardLeft {
  position: relative;
  display: table-cell;
  width: 418px;
  border-right: 1px solid #d8d8d8;
}
.cLTop {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 20px;
  height: 203px;
  width: 100%;
}
.cLTop:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: -388px;
  left: 0;
  border: 1px solid #000;
}
.cLTop h2 {
  padding-left: 29px;
  height: 44px;
}
.cLTop h2 a {
  height: 34px;
  line-height: 34px;
  color: #333;
  letter-spacing: -0.5px;
}
.cLTop h2 a .arrow {
  position: absolute;
  top: 20px;
  left: 168px;
  font-size: 12px;
}
.cLTop .cardBook {
  margin: 0 30px;
}
.cLTop .cardBookUnit {
  position: relative;
  height: 140px;
}
.cardBookUnit .bookImg {
  float: left;
  width: 98px;
  border: 1px solid #ececec;
  overflow: hidden;
}
.cardBookUnit .bookImg img {
  margin: -1px;
  width: 100px;
  height: 140px;
}
.cardBookUnit .bookCmt {
  position: absolute;
  top: 0;
  left: 112px;
  width: 230px;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.cardBookUnit .bookInfo {
  position: absolute;
  bottom: 0;
  left: 112px;
  width: 230px;
}
.cardBookUnit .bookInfo .bookName {
  width: 230px;
  min-height: 16px;
  max-height: 32px;
  word-break: break-all;
  line-height: 16px;
  font-weight: bold;
  font-size: 12px;
  color: #333;
}
.cardBookUnit .bookInfo .bookPub {
  display: block;
  margin-top: 5px;
  width: 230px;
  height: 15px;
  line-height: 15px;
  color: #999;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
}
.cardBookUnit .bookInfo .bookPub .auth {
  color: #999;
}
.cardBookUnit .bookInfo .bookPub .divi {
  color: #ccc;
}
.cardBookUnit .bookInfo .bookPub .pub {
  color: #999;
}
.cLTop .btnCT {
  top: 97px;
}
.cLBot {
  position: absolute;
  top: 223px;
  left: 30px;
  width: 358px;
  height: 358px;
}
.cLBot .cardNews {
  position: relative;
  width: 358px;
  height: 358px;
}
.cLBot .cardNews img {
  display: inline;
  width: 100%;
  height: 358px;
}
.cLBot .cardNews::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: solid 1px #000;
  opacity: 0.1;
}
.cardRight {
  display: table-cell;
}
.cardRight h2 {
  position: relative;
  z-index: 11;
  display: block;
  height: 44px;
}
.cardRight h2 a {
  height: 34px;
  overflow: hidden;
  line-height: 34px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  letter-spacing: -0.5px;
}
.cardRight h2 a .arrow {
  position: absolute;
  top: 0;
  left: 65px;
  font-size: 12px;
}
.cardRight .cRTop {
  position: relative;
  min-height: 265px;
  padding: 20px 0 20px 29px;
  border-bottom: 1px solid #d8d8d8;
}
.rowGrp ul li {
  float: left;
  margin-right: 20px;
  width: 220px;
  height: 191px;
}
.rowGrp ul li a {
  display: block;
  position: relative;
  width: 160px;
  height: 180px;
  margin-left: 40px;
}
.rowGrp .titles_thumb {
  width: 160px;
  height: 113px;
  overflow: hidden;
}
.rowGrp .titles_thumb img {
  width: 99%;
  transform: translateY(-30%);
  border: 1px solid #ebebeb;
}
.rowGrp .titles_info {
  padding: 8px 0 0;
  height: 45px;
  font-size: 12px;
}
.rowGrp .titles_tit {
  display: block;
  min-height: 16px;
  max-height: 32px;
  overflow: hidden;
  line-height: 16px;
  font-size: 12px;
  color: #333;
}
.rowGrp .titles_tit:hover {
  text-decoration: underline;
}
.rowGrp .titles_des {
  display: block;
  margin-top: 5px;
  height: 16px;
  line-height: 16px;
  color: #999;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.rowGrp .titlesDl {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px 0;
  background-color: #f8f8f8;
  font-size: 12px;
}
.rowGrp .titlesDl dl {
  margin: 0 9px 0 19px;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.rowGrp .titlesDl dl dt {
  color: #333;
  font-weight: bold;
  display: inline;
  margin-right: 29px;
}
.rowGrp .titlesDl dl dd {
  display: inline;
}
.rowGrp .titlesDl dl dd a {
  margin-right: 20px;
  color: #666;
}
.cardRight .cRBot {
  position: relative;
  min-height: 265px;
  padding: 20px 0 20px 29px;
}
.cRBot h2 a .arrow {
  left: 75px;
}

/* main9 */
#main9 {
  position: relative;
  width: 1200px;
  margin: 20px auto 0;
  text-align: center;
}
#main9 .bnImgSet:first-child a {
  margin: 0 auto;
  padding: 10px 0;
  height: 60px;
  background-color: #2bbca9;
  display: block;
}
#main9 .bnImgSet:last-child a {
  margin: 0 auto;
  padding: 10px 0;
  height: 60px;
  background-color: #5036d5;
  display: block;
}
#main9 .bnImgSet a img {
  height: 100%;
}
#main9 .btnBn {
  top: 50%;
  margin-top: -17px;
}
#main9 .prev {
  left: 0;
}
#main9 .next {
  right: 0;
}

/* main10 */
#main10 {
  margin-top: 20px;
  text-align: center;
}
.ServCon {
  display: table;
  width: 1198px;
  border: solid 1px #d8d8d8;
  table-layout: fixed;
  background-color: #fff;
  margin: 0 auto;
  text-align: left;
}
.ServLeft {
  display: table-cell;
  margin-right: 0;
  width: 720px;
  height: 238px;
  border: none;
  float: left;
  background-color: #fff;
}
.ServLeft h2 {
  padding: 15px 0 0 20px;
  height: 40px;
}
.ServLeft h2 em {
  display: block;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.servDl {
  padding-left: 20px;
}
.servDl dl {
  width: 160px;
  margin-right: 20px;
  float: left;
}
.servDl dl dt {
  padding-bottom: 5px;
}
.servDl dl dt strong {
  background-color: #666;
  color: #fff;
  text-align: center;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  display: block;
}
.servDl dl dd {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}
.servDl dl dd a {
  display: block;
  height: 20px;
  line-height: 20px;
  color: #666;
  text-indent: 4px;
}
.servDl dl.servBn {
  padding-left: 11px;
  width: 119px;
}
.servBn dt {
  display: none;
  padding-bottom: 5px;
}
.servBn dd li:first-child {
  margin-top: 0;
}
.servBn dd li {
  margin-top: 35px;
}
.servBn dd li a {
  margin-left: -4px;
}
.ServMid {
  display: table-cell;
  width: 237px;
  height: 238px;
  border: none;
  border-left: solid 1px #d8d8d8;
  float: left;
  background-color: #fff;
}
.ServMid a {
  padding-left: 5px;
  display: block;
}
.ServMid a h2 {
  padding: 15px 0 0 15px;
  height: 49px;
}
.ServMid a h2 em {
  display: block;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  position: relative;
}
.ServMid a h2 em .arrow {
  position: absolute;
  top: 0;
  right: 67px;
  font-size: 12px;
}
.ServMid img {
  padding-left: 5px;
}
.ServRight {
  display: table-cell;
  width: 239px;
  float: right;
}
.ServRight ul {
  border-left: 1px solid #d8d8d8;
}
.ServRight ul li a {
  padding: 11px 0;
  text-align: center;
  display: block;
  height: 96px;
  background-color: #fff;
}
.ServRight ul li:last-child {
  border-top: 1px solid #d8d8d8;
  margin-top: 0;
}
.ServRight ul li:last-child a {
  padding: 12px 0 11px;
}

/* main11 */
#main11 {
  width: 1198px;
  padding: 23px 0;
  position: relative;
  margin: 0 auto;
  text-align: left;
}
#main11::after {
  content: "";
  clear: both;
  display: block;
}
#main11 h2 {
  width: 90px;
  float: left;
}
#main11 h2 em {
  display: block;
  height: 34px;
  overflow: hidden;
  line-height: 34px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  letter-spacing: -0.5px;
  padding-left: 19px;
}
.notiLi {
  margin: 0 40px 0 97px;
}
.notiLi li {
  float: left;
  margin-right: 25px;
  line-height: 34px;
}
.notiLi li a {
  font-size: 12px;
  color: #666;
}
.notiLi li em.notDate {
  color: #999;
}
#main11 .moreNoti {
  position: absolute;
  top: 50%;
  right: 6px;
  margin-top: -7px;
  font-size: 11px;
}
#main11 .moreNoti .more {
  zoom: 0.6;
  top: 0;
}

/* main12 */
#main12 {
  width: 1198px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #d8d8d8;
}
#main12::after {
  content: "";
  clear: both;
  display: block;
}
.botBn li {
  float: left;
  width: 50%;
}
.botBn li a {
  display: block;
  padding: 10px 0;
}
.botBn li a img {
  width: 479px;
  height: 58px;
}
