@charset "UTF-8";

/* main1 */
#main1 {
  background-color: #fff;
  width: 1198px;
  height: 421px;
  position: relative;
  margin: 0 auto;
  text-align: left;
  border: solid 1px #d8d8d8;
}
#main1::before {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  bottom: -1px;
  z-index: 1;
  width: 109px;
  border-right: solid 1px #d8d8d8;
}
#mbnWrap {
  width: 109px;
  position: relative;
  z-index: 2;
  padding-top: 9px;
  height: 412px;
  display: block;
}
.mbn_dp1 {
  width: 110px;
  height: 40px;
  float: left;
}
.mbn_dp1 h3 a {
  display: block;
  padding-left: 13px;
  height: 40px;
  line-height: 40px;
  color: #000;
  font-size: 14px;
  border-left: none;
}
.mbnSub {
  position: absolute;
  top: 0;
  left: 109px;
  width: 1089px;
  height: 421px;
  overflow: hidden;
}
.mbnCont {
  position: relative;
  z-index: 1;
}
.mbnRoll_yNow {
  position: absolute;
  top: 0;
  left: 0;
  width: 1089px;
}
.mbnContImg {
  overflow: hidden;
}
.mbnContImg img {
  width: 1089px;
  height: 421px;
  margin-left: 0;
}
.pageNum1 {
  position: absolute;
  top: 381px;
  left: 0;
  width: 271px;
  z-index: 10;
}
.tabs a {
  background-color: #f8f8f8;
  display: block;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.tabs a em {
  display: block;
  color: #666;
}
.pageNum2 {
  position: absolute;
  top: 381px;
  left: 272px;
  width: 271px;
  z-index: 10;
}
.pageNum3 {
  position: absolute;
  top: 381px;
  left: 544px;
  width: 271px;
  z-index: 10;
}
.pageNum4 {
  position: absolute;
  top: 381px;
  left: 816px;
  width: 273px;
  z-index: 10;
}
.cateTxt {
  position: absolute;
  top: 0;
  left: 0;
  width: 129px;
  height: 412px;
  background-color: #fff;
  border-right: solid 1px #d8d8d8;
  padding-top: 10px;
}
.cateTxt .tp1 {
  padding-left: 15px;
}
.cateTxt .tp1 li {
  width: 110px;
  line-height: 20px;
  overflow: hidden;
  font-size: 12px;
  letter-spacing: -1px;
}
.cateTxt .tp1 li a {
  color: #666;
}
.cateTxt .tp1 li a:hover {
  text-decoration: underline;
}
.cateTxt .tp1 li em {
  margin: 0 1px;
  color: #ccc;
}
.mbnRoll {
  width: 959px;
  text-align: center;
  position: absolute;
  left: 130px;
  top: 0;
}
.mbnRoll img {
  width: 959px;
  height: 421px;
}
.mbnRoll .tabs {
  width: 136px;
}
.mbnRoll .pageNum1 {
  left: 0;
}
.mbnRoll .pageNum2 {
  left: 137px;
}
.mbnRoll .pageNum3 {
  left: 274px;
}
.mbnRoll .pageNum4 {
  left: 411px;
}
.mbnRoll .pageNum5 {
  position: absolute;
  top: 381px;
  z-index: 10;
  left: 548px;
}
.mbnRoll .pageNum6 {
  position: absolute;
  top: 381px;
  z-index: 10;
  left: 685px;
}
.mbnRoll .pageNum7 {
  position: absolute;
  top: 381px;
  z-index: 10;
  left: 822px;
  width: 137px;
}
.mbnContImg li {
  width: 319px;
  text-align: center;
  float: left;
  border-left: solid 1px #f4f4f4;
  overflow: hidden;
}
.mbnContImg li:first-child {
  border-left: none;
}
.mbnContImg li:last-child {
  width: 318px;
}
.mbnContImg li a {
  width: 100%;
}
.mbnContImg li a img {
  width: 100%;
  object-fit: contain;
  background-color: #fff;
}
.r6 .tabs {
  width: 159px;
}
.r6 .pageNum1 {
  left: 0;
}
.r6 .pageNum2 {
  left: 160px;
}
.r6 .pageNum3 {
  left: 320px;
}
.r6 .pageNum4 {
  left: 480px;
}
.r6 .pageNum5 {
  left: 640px;
}
.r6 .pageNum6 {
  left: 800px;
  width: 159px;
}
.mbnCont .mbnBtn {
  position: absolute;
  left: 0;
  top: 155px;
  z-index: 10;
  width: 34px;
  height: 38px;
  cursor: pointer;
  display: none;
}
.mbnCont .prev {
  top: 191px;
}
.mbnCont .next {
  top: 191px;
  left: 1056px;
}
.mbnCont .mbnBtn i {
  background-color: rgba(51, 51, 51, 0.3);
  width: 34px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mbnCont .mbnBtn i:hover {
  background-color: #333;
}
.YNnot .prev {
  left: 129px;
}
.cateTxt h4 {
  padding: 0 0 0 15px;
  height: 20px;
  line-height: 16px;
  font-size: 12px;
  letter-spacing: -1px;
  font-weight: bold;
  color: #333;
}
.cateTxt h4 a {
  color: #333;
}
.cateTxt h4 img {
  margin: 3px 0 0 0;
  width: 12px;
  height: 12px;
  vertical-align: top;
}
.mgt15 {
  margin-top: 15px;
}
.mgt3 {
  margin-top: 3px;
}
.mgt10 {
  margin-top: 10px;
}
.cateTxt .tp2 {
  padding-left: 12px;
}
.cateTxt .tp2 li {
  width: 110px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  letter-spacing: -1px;
}
.cateTxt .tp2 li a {
  color: #6699cc;
}
.cateTxt .tp2 li a:hover {
  text-decoration: underline;
}
.r5 .tabs {
  width: 191px;
}
.r5 .pageNum1 {
  left: 0;
}
.r5 .pageNum2 {
  left: 192px;
}
.r5 .pageNum3 {
  left: 384px;
}
.r5 .pageNum4 {
  left: 576px;
}
.r5 .pageNum5 {
  left: 768px;
}

/* main2 */
#main2 {
  position: relative;
  text-align: left;
  width: 1200px;
  height: auto;
  margin: 20px auto 0;
}
.ADcont {
  width: 238px;
  text-align: center;
  float: left;
  overflow: hidden;
  border: solid 1px #d8d8d8;
  background-color: #fff;
}
.ADcont .ADBigBn {
  position: relative;
  overflow: hidden;
  border-bottom: solid 1px #d8d8d8;
}
.ADcont .ADSmallBn {
  position: relative;
  height: auto;
  overflow: hidden;
}
.ADcont .ADTag {
  position: absolute;
  top: 9px;
  left: 216px;
  width: 13px;
  height: 9px;
  color: #ccc;
  font-size: 7px;
}
.ADcont a {
  display: block;
  padding: 10px 0;
}
.ADcont img {
  width: 188px;
}
