@charset "UTF-8";

#header_top_left li:first-child a {
  background-color: #fff;
  color: #000;
}
#wrap {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic,
    "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 12px;
  color: #555;
  text-align: center;
}

/* Top Banner */
.topBn {
  border-bottom: 1px solid #ebebeb;
  background-color: #eee;
  margin-top: -20px;
}
.topBn a {
  display: block;
}
.topBn a img {
  vertical-align: top;
  width: 958px;
}

/* Sub Location */
.location {
  background-color: #f8f8f8;
  height: 28px;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 12px;
}
.locaCon {
  text-align: left;
  margin: 0 auto;
  width: 1200px;
}
.locaCon a {
  float: left;
  padding: 2px 0 0 9px;
  color: #666;
}
.locaSet {
  float: left;
  position: relative;
  padding-left: 16px;
}
.bgLoca {
  display: inline-block;
  background: url(../img/sub/bgLoca.png) no-repeat left top;
  vertical-align: top;
}
.locaSet .bgLoca.ico_arr {
  position: absolute;
  left: 9px;
  top: 3px;
  width: 8px;
  height: 13px;
}
.locaSet .locaDepth {
  position: relative;
  margin-top: -5px;
  padding: 0 21px 0 8px;
  width: auto;
  height: 26px;
  line-height: 26px;
  color: #666;
  text-align: left;
  outline: none;
  text-decoration: none;
  vertical-align: top;
}
.locaSet .locaDepth .bgLoca.ico_squareArr {
  display: block;
  position: absolute;
  top: 6px;
  right: 0;
  width: 17px;
  height: 16px;
  background-position: -20px 0;
}
.locaSet .locaSubDepth {
  position: absolute;
  top: 21px;
  left: 16px;
  padding: 10px 0 12px;
  border: 1px solid #196ab3;
  background-color: #fff;
}
.locaSet .locaSubDepth.locaLi_1col {
  width: 140px;
  display: none;
}
.locaSet ul {
  float: left;
  width: 139px;
  border-right: 1px solid #e5e5e5;
}
.locaSet ul.lastCol {
  border: none;
}
.locaSet ul li {
  padding: 0 0 0 5px;
  line-height: 16px;
}
.locaSet ul li a {
  display: block;
  width: 120px;
  height: 18px;
  overflow: hidden;
  line-height: 16px;
  color: #666;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.locaSet ul li.on a {
  font-weight: bold;
  color: #333;
}
.locaSet .locaSubDepth.locaLi_4col {
  width: 560px;
  display: none;
}
.locaSet .locaSubDepth.locaLi_2col {
  width: 280px;
  display: none;
}

/* Sub Detail Top */
.detailTopWrap {
  width: 1200px;
  margin: 40px auto 0;
  text-align: left;
  background-color: #fff;
}
.detailTopWrap .topColLeft {
  position: relative;
  width: 400px;
  float: left;
}
.detailTopWrap .topColLeft .gd_3dGrp {
  cursor: url(../img/sub/3d_cursor.svg), pointer !important;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1800px;
  margin-bottom: 30px;
  user-select: none;
}
.detailTopWrap .topColLeft .gd_3dGrp .gd_img {
  position: relative;
  width: 400px;
  box-shadow: 5px 12px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 0;
  transform-style: preserve-3d;
  transition: 0.5s;
}
.detailTopWrap .topColLeft .gd_3dGrp .gd_img::before {
  content: "";
  position: absolute;
  top: 0;
  width: 57px;
  height: 100%;
  transform-origin: left;
  background: url(../img/sub/sub_book_left.jfif);
  background-position: center;
  transform: rotateY(-90deg) translateX(-56px);
  background-size: cover;
}
.detailTopWrap .topColLeft .gd_3dGrp .gd_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  transform-origin: center;
  background: url(../img/sub/sub_book_back.jfif);
  background-position: center;
  transform: rotateY(180deg) translateZ(58px);
  background-size: cover;
}
.detailTopWrap .topColLeft .gd_3dGrp .gd_img img {
  width: 100%;
}
.gd_imgBtn {
  display: block;
  text-align: center;
}
.gd_imgBtn a.btnC {
  margin: 1px 0 5px 0;
}
.gd_imgBtn a.btnC .bWrap {
  padding: 6px 23px;
  width: 94px;
}
.gd_imgBtn a.btnC:nth-child(2) .bWrap {
  padding: 6px 17px;
}
.btnC {
  display: inline-block;
  text-align: left;
  white-space: nowrap;
  text-indent: 0;
}
.btnC .bWrap {
  position: relative;
  padding: 0 7px;
  height: 28px;
  text-align: center;
  text-indent: 0;
  border: solid 1px #ebebeb;
  border-bottom-color: #d8d8d8;
  border-right-color: #d8d8d8;
  border-radius: 3px;
  background-color: #fff;
}
.btnC .bWrap em.txt {
  position: relative;
  padding: 0;
  overflow: hidden;
  line-height: 27px;
  font-size: 12px;
  color: #333 !important;
  font-weight: bold;
  text-indent: 0;
  cursor: pointer;
}
.btnC .ico_new {
  font-size: 0;
  line-height: 0;
  vertical-align: top;
}
.btnC .ico_new:before {
  content: "";
  position: absolute;
  right: -3px;
  top: -3px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #f44643 url(../img/sub/ico_new.svg) no-repeat left top;
}

.topColRight {
  width: 760px;
  float: right;
}
.topColRight .gd_infoTop {
  position: relative;
  padding-bottom: 25px;
  border-bottom: 1px solid #d8d8d8;
}
.topColRight .gd_infoTop .gd_keyNote {
  display: block;
  padding-bottom: 5px;
  line-height: 18px;
}
.topColRight .gd_infoTop .gd_keyNote .iconC {
  margin-right: 1px;
}
.topColRight .gd_infoTop .gd_titArea {
  display: block;
  padding-bottom: 10px;
  line-height: 1.7em;
  font-weight: normal;
}
.topColRight .gd_infoTop .gd_titArea h2.gd_name {
  display: inline;
  font-size: 25px;
  margin-right: 2px;
  line-height: 1.2em;
  color: #333;
  letter-spacing: -1.2px;
  font-family: "Noto Sans KR", "Malgun Gothic", Dotum, "돋움", AppleGothic,
    Lucida Grande, Verdana, Arial, Tahoma, sans-serif;
}
.topColRight .gd_infoTop .gd_titArea h3.gd_nameE {
  display: inline;
  margin-right: 1px;
  color: #666;
  font-size: 16px;
  font-weight: normal;
  vertical-align: 2px;
}
.topColRight .gd_infoTop .gd_pubArea {
  display: block;
  line-height: 20px;
  color: #666;
}
.topColRight .gd_infoTop .gd_pubArea .gd_auth {
  vertical-align: top;
}
.topColRight .gd_infoTop .gd_pubArea a {
  color: #333;
  vertical-align: top;
}
.topColRight .gd_infoTop .gd_pubArea .divi {
  display: inline-block;
  margin: 4px 4px 0 4px;
  width: 1px;
  height: 12px;
  text-indent: -999em;
  border-right: solid 1px #ccc;
}
.topColRight .gd_infoTop .gd_pubArea .gd_date {
  vertical-align: top;
  white-space: nowrap;
}
.iconC {
  display: inline-block;
  padding: 0;
  height: 18px;
  border: solid 1px #d8d8d8;
  text-indent: 0;
  background-color: #fff;
}
.iconC em.txt {
  display: inline-block;
  padding: 0 4px;
  line-height: 17px;
  font-size: 11px;
  color: #666;
  font-weight: normal;
  cursor: default;
  vertical-align: top;
  text-indent: 0;
}

.topColRight .gd_infoTop .gd_ratingArea {
  display: flex;
  margin-top: -8px;
  align-items: center;
  line-height: 20px;
  color: #666;
}
.topColRight .gd_infoTop .gd_ratingArea .gd_rating {
  position: relative;
  margin: 10px 8px 0 0;
}
.topColRight .gd_infoTop .gd_ratingArea .gd_rating .total_rating {
  background-position: 0 -200px;
  margin-top: 1px;
  width: 78px;
  height: 16px;
}
.topColRight .gd_infoTop .gd_ratingArea .gd_rating .yes_b {
  margin-right: 1px;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  color: #000;
}
.topColRight .gd_infoTop .gd_ratingArea .gd_rating .moreRating .bgYUI {
  margin-top: 1px;
  width: 17px;
  height: 16px;
  background-position: -20px -240px;
}
.topColRight .gd_infoTop .gd_ratingArea .gd_reviewCount {
  margin: 9px 0 0 0;
  min-height: 20px;
}
.topColRight .gd_infoTop .gd_ratingArea .gd_reviewCount a {
  color: #333;
}
.topColRight .gd_infoTop .gd_ratingArea .gd_sellNum {
  margin: 9px 10px 0 5px;
  line-height: 20px;
  color: #666;
}
.topColRight .gd_infoTop .gd_ratingArea .gd_sellNum .divi {
  display: inline-block;
  overflow: hidden;
  margin: 3px 4px 0 4px;
  width: 1px;
  height: 12px;
  text-indent: -999em;
  border-right: solid 1px #ccc;
}
.topColRight .gd_infoTop .gd_ratingArea .gd_sellNum .ico_help {
  vertical-align: -3px;
  width: 17px;
  height: 16px;
  background-position: -80px -240px;
}
.topColRight .gd_infoTop .gd_ratingArea .gd_best {
  margin-top: 9px;
  text-align: left;
  display: inline-block;
}
.topColRight .gd_infoTop .gd_ratingArea .gd_best dl {
  display: flex;
}
.topColRight .gd_infoTop .gd_ratingArea .gd_best dt {
  margin: 0 2px 0 0;
  width: 48px;
  height: 20px;
  line-height: 19px;
  font-size: 11px;
  color: #fff;
  text-indent: 4px;
  background: url(../img/sub/bgDetail.png) no-repeat -622px -250px;
}
.topColRight .gd_infoTop .gd_ratingArea .gd_best dd {
  margin-left: 5px;
}
.topColRight .gd_infoTop .gd_ratingArea .gd_best .divi {
  margin: 3px 4px 0 4px;
  width: 1px;
  height: 12px;
  text-indent: -999em;
  border-right: solid 1px #ccc;
  display: inline-block;
  overflow: hidden;
}
.bgGD {
  display: inline-block;
  text-indent: -999em;
  background: url(../img/sub/bgDetail.png);
}
.bgYUI {
  background: url(../img/sub/bgYUI.png);
  display: inline-block;
  text-indent: -999em;
}
.ico_toggle {
  width: 17px;
  height: 16px;
  background-position: -20px -240px;
}
.txC_blue {
  color: #6699cc;
}
.ico_help {
  width: 17px;
  height: 16px;
  background-position: -80px -240px;
  vertical-align: bottom;
}
.ico_go {
  width: 17px;
  height: 16px;
  background-position: -60px -240px;
}
.ico_arr {
  width: 10px;
  height: 8px;
  vertical-align: 1px;
  background-position: -160px -280px;
}

.topColRight .gd_infoBot {
  display: flex;
}
.topColRight .gd_infoBot .gd_infoTbArea {
  width: 500px;
  padding-top: 19px;
}
.topColRight .gd_infoBot .gd_infoTbArea .gd_infoTb {
  margin-bottom: 21px;
}
.topColRight .gd_infoBot .gd_infoTbArea table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.topColRight .gd_infoBot .gd_infoTbArea table th {
  padding: 6px 0 6px;
  line-height: 18px;
  color: #666;
  font-weight: normal;
  text-align: left;
  vertical-align: top;
  width: 110px;
}
.topColRight .gd_infoBot .gd_infoTbArea table td {
  padding: 5px 0 6px;
  min-height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #666;
  text-align: left;
}
.topColRight .gd_infoBot .gd_infoTbArea table tr.accentRow th {
  font-weight: bold;
  color: #333;
}
.topColRight .gd_infoBot .gd_infoTbArea table tr.accentRow td {
  color: #ff6666;
}
.topColRight .gd_infoBot .gd_infoTbArea table tr.accentRow td .sell_price {
  font-weight: bold;
  font-size: 14px;
  color: #ff6666;
}
.topColRight
  .gd_infoBot
  .gd_infoTbArea
  table
  tr.accentRow
  td
  .sell_price
  .yes_m {
  font-size: 24px;
  vertical-align: -4px;
  color: #ff6666;
}
.topColRight .gd_infoBot .gd_infoTbArea table tr.accentRow td .crama_price {
  color: #333;
  line-height: 35px;
}
.topColRight
  .gd_infoBot
  .gd_infoTbArea
  table
  tr.accentRow
  td
  .crama_price
  .yes_m {
  color: #333;
}
.topColRight .gd_infoBot .gd_infoTbArea table td .gd_infoLi {
  margin-top: -3px;
}
.topColRight .gd_infoBot .gd_infoTbArea table td .gd_infoLi li {
  padding: 5px 0 5px 0 !important;
  line-height: 16px !important;
  color: #666;
  border: none !important;
  text-align: left;
  font-size: 12px;
  word-wrap: break-word;
  word-break: keep-all;
}

.topColRight .gd_infoBot .gd_infoTbArea .gd_infoTb.bdr_top {
  padding-top: 19px;
  border-top: 1px solid #ebebeb;
  margin-bottom: 20px;
}
.topColRight .gd_infoBot .gd_infoTbArea .gd_infoTb.bdr_top .ico_toggle {
  vertical-align: bottom;
}
.topColRight .gd_infoBot .gd_infoTbArea .gd_infoTb.bdr_top .ico_go {
  vertical-align: bottom;
}
.topColRight .gd_infoBot .gd_infoTbArea .gd_infoTb.bdr_top .ico_arr {
  margin-left: -2px;
}

.topColRight .gd_infoBot .gd_infoTbArea .gd_infoTb .gd_deliBoxGrp {
  margin-top: 10px;
}
.topColRight .gd_infoBot .gd_infoTbArea .gd_infoTb .gd_deliBoxGrp .gd_deliBox {
  padding: 10px 0;
  background-color: #edf5fe;
}
.topColRight
  .gd_infoBot
  .gd_infoTbArea
  .gd_infoTb
  .gd_deliBoxGrp
  .gd_deliBox
  .deliBox_row {
  margin: 0 15px;
  padding: 5px 0;
  line-height: 18px;
}
.topColRight
  .gd_infoBot
  .gd_infoTbArea
  .gd_infoTb
  .gd_deliBoxGrp
  .gd_deliBox
  .deliBox_row
  .iconC {
  margin-right: 5px;
}
.ico_deliShot {
  background-color: #eea900;
  border-color: #eea900;
}
.ico_deliShot em.txt {
  color: #fff;
}
.txC_black {
  color: #333;
}
.topColRight .gd_infoBot .gd_infoTbArea .gd_infoTb .gd_deliBoxGrp .alertLi {
  margin-top: 9px;
}
.alertLi li {
  padding: 2px 0 1px 7px !important;
  line-height: 18px !important;
  text-indent: -7px !important;
  color: #666;
  font-size: 12px;
  border: none !important;
  text-align: left;
}
.alertLi li .bl_dot {
  margin-top: 6px;
  margin-right: -4px;
  width: 7px;
  height: 6px;
  vertical-align: top;
  background-position: 0 0;
}

.topColRight .gd_infoBot .gd_infoTbArea .gd_formatInfo {
  margin-top: 20px;
  border: solid 1px #ebebeb;
  border-right-color: #d8d8d8;
  border-bottom-color: #d8d8d8;
  background-color: #fff;
}
.topColRight .gd_infoBot .gd_infoTbArea .gd_formatInfo .gd_formatInfoLi {
  display: flex;
}
.topColRight .gd_infoBot .gd_infoTbArea .gd_formatInfo .gd_formatInfoLi li {
  width: 33.3%;
}
.topColRight
  .gd_infoBot
  .gd_infoTbArea
  .gd_formatInfo
  .gd_formatInfoLi
  li
  a.formatA {
  position: relative;
  display: block;
  padding: 6px 0 9px 15px;
  line-height: 16px;
  border-right: 1px solid #d8d8d8;
}
.topColRight
  .gd_infoBot
  .gd_infoTbArea
  .gd_formatInfo
  .gd_formatInfoLi
  li:last-child
  a.formatA {
  border-right: none;
}
.topColRight
  .gd_infoBot
  .gd_infoTbArea
  .gd_formatInfo
  .gd_formatInfoLi
  li
  a.formatA
  em.ico_arr {
  position: absolute;
  right: 14px;
  top: 16px;
  width: 6px;
  height: 16px;
  background-position: -130px -240px;
}
.topColRight
  .gd_infoBot
  .gd_infoTbArea
  .gd_formatInfo
  .gd_formatInfoLi
  li:last-child
  a.formatA
  em.ico_arr {
  position: absolute;
  z-index: 10;
  right: 14px;
  top: 50%;
  margin-top: -4px;
  width: 9px;
  height: 8px;
  background-position: -130px -280px;
}

.topColRight .gd_infoBot .gd_infoTbArea .gd_banner {
  margin-top: 20px;
  width: 298px;
}
.topColRight .gd_infoBot .gd_infoTbArea .gd_banner .popUp {
  border: solid 1px #666;
  border-color: #cbd9eb;
  background-color: #edf5fe;
  max-width: 760px;
  position: relative;
  text-align: left;
}
.topColRight .gd_infoBot .gd_infoTbArea .gd_banner .popUp .pop_cont {
  margin: 0 20px;
  padding: 20px 0;
}
.topColRight .gd_infoBot .gd_infoTbArea .gd_banner .popUp .pop_cont .goods_img {
  position: relative;
  float: left;
  width: 80px;
  overflow: hidden;
}
.topColRight
  .gd_infoBot
  .gd_infoTbArea
  .gd_banner
  .popUp
  .pop_cont
  .goods_img::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  border: solid 0.5px rgba(0, 0, 0, 0.05);
}
.topColRight
  .gd_infoBot
  .gd_infoTbArea
  .gd_banner
  .popUp
  .pop_cont
  .goods_img
  img {
  margin: -1px;
  width: 80px;
}
.topColRight
  .gd_infoBot
  .gd_infoTbArea
  .gd_banner
  .popUp
  .pop_cont
  .goods_info {
  margin-left: 95px;
}
.topColRight
  .gd_infoBot
  .gd_infoTbArea
  .gd_banner
  .popUp
  .pop_cont
  .goods_info
  * {
  font-family: "Noto Sans KR";
}
.topColRight
  .gd_infoBot
  .gd_infoTbArea
  .gd_banner
  .popUp
  .pop_cont
  .goods_info
  .goods_tCmt {
  margin-right: 20px;
  font-size: 14px;
}
.topColRight
  .gd_infoBot
  .gd_infoTbArea
  .gd_banner
  .popUp
  .pop_cont
  .goods_info
  .goods_tCmt
  span {
  display: block;
  height: 18px;
  overflow: hidden;
  line-height: 18px;
  font-weight: 400;
  word-break: break-all;
  color: #999;
}
.topColRight
  .gd_infoBot
  .gd_infoTbArea
  .gd_banner
  .popUp
  .pop_cont
  .goods_info
  .goods_name {
  display: block;
  min-height: 24px;
  max-height: 72px;
  overflow: hidden;
  line-height: 24px;
  font-size: 18px;
  color: #333;
  font-weight: 900;
  margin-top: 5px;
}
.topColRight .gd_infoBot .gd_infoTbArea .gd_banner .popUp .pop_close {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
}
.topColRight .gd_infoBot .gd_infoTbArea .gd_banner .popUp .pop_close {
  padding: 10px 10px 0 20px;
  display: block;
  height: 27px;
}
.topColRight
  .gd_infoBot
  .gd_infoTbArea
  .gd_banner
  .popUp
  .pop_close
  .btn_popClose {
  background-position: 0 -280px;
  width: 15px;
  height: 15px;
}

.topColRight .gd_infoBot .gd_action {
  margin-left: auto;
  position: relative;
  width: 220px;
  background-color: #eee;
}
.topColRight .gd_infoBot .gd_action .gd_actionContGrp {
  width: 220px;
  background-color: #eee;
  position: sticky;
  top: 0;
}
.topColRight .gd_infoBot .gd_action .gd_actionContGrp .gd_actionCont {
  margin-left: 20px;
  padding: 18px 0 14px 0;
}
.topColRight
  .gd_infoBot
  .gd_action
  .gd_actionContGrp
  .gd_actionCont
  .gd_saleState {
  color: #333;
  padding-bottom: 10px;
  font-weight: bold;
}
.topColRight .gd_infoBot .gd_action .gd_actionContGrp .gd_actionCont .gd_len {
  position: relative;
  padding: 5px 0;
}
.topColRight
  .gd_infoBot
  .gd_action
  .gd_actionContGrp
  .gd_actionCont
  .gd_len
  dt {
  position: absolute;
  top: 5px;
  left: 0;
  line-height: 22px;
  color: #666;
}
.topColRight
  .gd_infoBot
  .gd_action
  .gd_actionContGrp
  .gd_actionCont
  .gd_len
  dd {
  position: relative;
  margin-left: 56px;
}
.topColRight
  .gd_infoBot
  .gd_action
  .gd_actionContGrp
  .gd_actionCont
  .gd_len
  dd
  .yesIpt {
  padding: 1px 0;
  width: 59px;
  height: 24px;
  display: block;
}
.yesIpt {
  box-sizing: border-box;
  position: relative;
  padding: 3px 8px 5px;
  width: auto;
  height: 30px;
  line-height: 20px;
  border: solid 1px #ebebeb;
  border-top-color: #d8d8d8;
  border-left-color: #d8d8d8;
  border-radius: 3px;
  background-color: #fff;
}
.yesIpt input {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  border: none;
  border-color: transparent;
  font-size: 12px;
  color: #333;
  border-radius: 0;
  outline-style: none;
  background-color: transparent;
  vertical-align: top;
  text-align: center;
}
.topColRight
  .gd_infoBot
  .gd_action
  .gd_actionContGrp
  .gd_actionCont
  .gd_len
  dd
  button {
  position: absolute;
  top: 0;
  width: 24px;
  height: 24px;
  border: solid 1px #ebebeb;
  border-right-color: #d8d8d8;
  border-bottom-color: #d8d8d8;
  background-color: transparent;
}
.topColRight
  .gd_infoBot
  .gd_action
  .gd_actionContGrp
  .gd_actionCont
  .gd_len
  dd
  button.minus {
  left: -23px;
  background-position: -30px -300px;
}
.topColRight
  .gd_infoBot
  .gd_action
  .gd_actionContGrp
  .gd_actionCont
  .gd_len
  dd
  button.plus {
  left: 58px;
  background-position: 0 -300px;
}
.topColRight .gd_infoBot .gd_action .gd_actionContGrp .gd_actionCont .gd_btn {
  padding-top: 15px;
  margin-right: 20px;
}
.topColRight
  .gd_infoBot
  .gd_action
  .gd_actionContGrp
  .gd_actionCont
  .gd_btn
  a.btnC {
  display: block;
  margin-bottom: 5px;
  text-align: center;
}
.btnC.btn_blue .bWrap {
  border-color: #196ab3;
  border-bottom-color: #165fa1;
  border-right-color: #165fa1;
  background-color: #196ab3;
}
.btnC.btn_sBlue .bWrap {
  border-color: #199db3;
  border-bottom-color: #168da1;
  border-right-color: #168da1;
  background-color: #199db3;
}
.btnC.btn_blue .bWrap em.txt {
  color: #fff !important;
}
.btnC.btn_sBlue .bWrap em.txt {
  color: #fff !important;
}
.btnC.m_size .bWrap {
  display: block;
  padding: 0 12px;
  height: 38px;
  text-align: center;
}
.btnC.m_size .bWrap em.txt {
  padding: 0;
  height: 37px;
  line-height: 37px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0;
}
.topColRight .gd_infoBot .gd_action .gd_actionContGrp .gd_actionCont.contBot {
  padding: 13px 0 14px 0;
  border-top: 1px solid #d8d8d8;
}
.mgb10 {
  margin-bottom: 10px !important;
}
.topColRight
  .gd_infoBot
  .gd_action
  .gd_actionContGrp
  .gd_actionCont.contBot
  ul
  li {
  word-wrap: break-word;
  word-break: keep-all;
}
.pat7 {
  padding-top: 7px !important;
}

/* Sub Detail Banner */
.detailBnWrap {
  width: 1200px;
  margin: 40px auto 30px;
  position: relative;
  z-index: 0;
  clear: both;
  text-align: center;
  display: inline-block;
}
.detailBnWrap .topBotBnArea {
  position: relative;
  z-index: 1;
  height: 100px;
  border: solid 1px #ebebeb;
  background-color: #fff;
}
.detailBnWrap .topBotBnArea .bnLeft {
  margin-right: 218px;
  position: relative;
  z-index: 1;
  text-align: left;
}
.detailBnWrap .topBotBnArea .bnLeft .bnLeft_thumb {
  display: block;
  width: 226px;
}
.detailBnWrap .topBotBnArea .bnLeft .bnLeft_thumb a {
  display: block;
  position: relative;
  padding: 0 0 0 9px;
  height: 24px;
  line-height: 22px;
  color: #666;
  border-top: solid 1px #ebebeb;
  border-right: solid 1px #ebebeb;
  background-color: #fff;
}
.detailBnWrap .topBotBnArea .bnLeft .bnLeftUnit:first-child .bnLeft_thumb a {
  height: 25px;
  border-top: none;
}
.detailBnWrap .topBotBnArea .bnLeft .bnLeft_thumb.on a {
  border-right: none;
  color: #333;
  font-weight: bold;
  background-color: #eee;
}
.detailBnWrap .topBotBnArea .bnLeft .bnLeft_thumb a em.txt {
  display: block;
  margin: 0;
  width: 200px;
  height: 24px;
  overflow: hidden;
  line-height: 22px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.detailBnWrap .topBotBnArea .bnLeft .bnLeft_thumb a em.bgYUI {
  display: none;
}
.detailBnWrap .topBotBnArea .bnLeft .bnLeft_thumb.on a em.bgYUI {
  display: block;
  position: absolute;
  right: 9px;
  top: 4px;
  width: 6px;
  height: 16px;
  background-position: -130px -240px;
}
.detailBnWrap .topBotBnArea .bnLeft .bnLeft_img {
  position: absolute;
  left: 226px;
  top: 0;
}
.detailBnWrap .topBotBnArea .bnLeft .bnLeft_img img {
  width: 753px;
  height: 100px;
}
.detailBnWrap .topBotBnArea .bnRight {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  width: 218px;
  height: 100px;
  border-left: solid 1px #ebebeb;
  background-color: #fff;
}
.detailBnWrap .topBotBnArea .bnRight .tagAd {
  position: absolute;
  right: 9px;
  bottom: 5px;
  z-index: 2;
  line-height: 1.2em;
  overflow: hidden;
  font-size: 11px;
  color: #999;
  font-family: "돋움", Dotum, Helvetica, AppleSDGothicNeo, sans-serif;
  vertical-align: -1px;
}

/* Sub Detail Bottom */
.detailBotWrap {
  padding: 33px 0;
}
.detailBotWrap .gd_detailBotCont {
  width: 1200px;
  margin: 0 auto;
  text-align: left;
}
.gd_infoSet {
  margin-top: 35px;
  padding-bottom: 40px;
  border-bottom: 1px solid #d8d8d8;
  clear: both;
  position: relative;
  border-top: 3px solid red;
}
.gd_infoSet .tm_infoSet {
  position: relative;
  padding-bottom: 15px;
}
.gd_infoSet .tm_infoSet .tit_txt {
  height: 31px;
  line-height: 31px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  font-family: "Noto Sans KR";
}
.gd_infoSet .infoWrap_txt {
  clear: both;
  font-size: 15px;
  line-height: 1.74em;
  font-weight: normal;
  color: #666;
  overflow: hidden !important;
  text-align: justify;
  word-wrap: break-word;
  word-break: keep-all;
}
.gd_infoSet .infoWrap_txt img {
  max-width: 940px;
  vertical-align: top;
}
