@charset "UTF-8";

#header_top_left li:first-child a {
  background-color: #fff;
  color: #000;
}
#wrap {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic,
    "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 12px;
  color: #555;
  text-align: center;
}

/* Top Banner */
.topBn {
  border-bottom: 1px solid #ebebeb;
  background-color: #eee;
  margin-top: -20px;
}
.topBn a {
  display: block;
}
.topBn a img {
  vertical-align: top;
  width: 958px;
}

/* Sub Location */
.location {
  background-color: #f8f8f8;
  height: 28px;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 12px;
}
.locaCon {
  text-align: left;
  margin: 0 auto;
  width: 1200px;
}
.locaCon a {
  float: left;
  padding: 2px 0 0 9px;
  color: #666;
}
.locaSet {
  float: left;
  position: relative;
  padding-left: 16px;
}
.bgLoca {
  display: inline-block;
  background: url(../img/sub/bgLoca.png) no-repeat left top;
  vertical-align: top;
}
.locaSet .bgLoca.ico_arr {
  position: absolute;
  left: 9px;
  top: 3px;
  width: 8px;
  height: 13px;
}
.locaSet .locaDepth {
  position: relative;
  margin-top: -5px;
  padding: 0 21px 0 8px;
  width: auto;
  height: 26px;
  line-height: 26px;
  color: #666;
  text-align: left;
  outline: none;
  text-decoration: none;
  vertical-align: top;
}
.locaSet .locaDepth .bgLoca.ico_squareArr {
  display: block;
  position: absolute;
  top: 6px;
  right: 0;
  width: 17px;
  height: 16px;
  background-position: -20px 0;
}
.locaSet .locaSubDepth {
  position: absolute;
  top: 21px;
  left: 16px;
  padding: 10px 0 12px;
  border: 1px solid #196ab3;
  background-color: #fff;
}
.locaSet .locaSubDepth.locaLi_1col {
  width: 140px;
  display: none;
}
.locaSet ul {
  float: left;
  width: 139px;
  border-right: 1px solid #e5e5e5;
}
.locaSet ul.lastCol {
  border: none;
}
.locaSet ul li {
  padding: 0 0 0 5px;
  line-height: 16px;
}
.locaSet ul li a {
  display: block;
  width: 120px;
  height: 18px;
  overflow: hidden;
  line-height: 16px;
  color: #666;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.locaSet ul li.on a {
  font-weight: bold;
  color: #333;
}
.locaSet .locaSubDepth.locaLi_4col {
  width: 560px;
  display: none;
}
.locaSet .locaSubDepth.locaLi_2col {
  width: 280px;
  display: none;
}

/* Sub Detail Top */
.detailTopWrap {
  width: 1200px;
  margin: 40px auto 0;
  text-align: left;
  background-color: #fff;
}
.detailTopWrap .topColLeft {
  position: relative;
  width: 400px;
  float: left;
}
.detailTopWrap .topColLeft .gd_3dGrp {
  cursor: url(../img/sub/3d_cursor.svg), pointer !important;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1800px;
  margin-bottom: 30px;
  user-select: none;
}
.detailTopWrap .topColLeft .gd_3dGrp .gd_img {
  position: relative;
  width: 400px;
  box-shadow: 5px 12px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 0;
  transform-style: preserve-3d;
  transition: 0.5s;
}
.detailTopWrap .topColLeft .gd_3dGrp .gd_img::before {
  content: "";
  position: absolute;
  top: 0;
  width: 57px;
  height: 100%;
  transform-origin: left;
  background: url(../img/sub/sub_book_left.jfif);
  background-position: center;
  transform: rotateY(-90deg) translateX(-56px);
  background-size: cover;
}
.detailTopWrap .topColLeft .gd_3dGrp .gd_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  transform-origin: center;
  background: url(../img/sub/sub_book_back.jfif);
  background-position: center;
  transform: rotateY(180deg) translateZ(58px);
  background-size: cover;
}
.detailTopWrap .topColLeft .gd_3dGrp .gd_img img {
  width: 100%;
}
.gd_imgBtn {
  display: block;
  text-align: center;
}
.gd_imgBtn a.btnC {
  margin: 1px 0 5px 0;
}
.gd_imgBtn a.btnC .bWrap {
  padding: 6px 23px;
  width: 94px;
}
.gd_imgBtn a.btnC:nth-child(2) .bWrap {
  padding: 6px 17px;
}
.btnC {
  display: inline-block;
  text-align: left;
  white-space: nowrap;
  text-indent: 0;
}
.btnC .bWrap {
  position: relative;
  padding: 0 7px;
  height: 28px;
  text-align: center;
  text-indent: 0;
  border: solid 1px #ebebeb;
  border-bottom-color: #d8d8d8;
  border-right-color: #d8d8d8;
  border-radius: 3px;
  background-color: #fff;
}
.btnC .bWrap em.txt {
  position: relative;
  padding: 0;
  overflow: hidden;
  line-height: 27px;
  font-size: 12px;
  color: #333 !important;
  font-weight: bold;
  text-indent: 0;
  cursor: pointer;
}
.btnC .ico_new {
  font-size: 0;
  line-height: 0;
  vertical-align: top;
}
.btnC .ico_new:before {
  content: "";
  position: absolute;
  right: -3px;
  top: -3px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #f44643 url(../img/sub/ico_new.svg) no-repeat left top;
}

.topColRight {
  width: 760px;
  float: right;
}
.topColRight .gd_infoTop {
  position: relative;
  padding-bottom: 25px;
  border-bottom: 1px solid #d8d8d8;
}
.topColRight .gd_infoTop .gd_keyNote {
  display: block;
  padding-bottom: 5px;
  line-height: 18px;
}
.topColRight .gd_infoTop .gd_keyNote .iconC {
  margin-right: 1px;
}
.topColRight .gd_infoTop .gd_titArea {
  display: block;
  padding-bottom: 10px;
  line-height: 1.7em;
  font-weight: normal;
}
.topColRight .gd_infoTop .gd_titArea h2.gd_name {
  display: inline;
  font-size: 25px;
  margin-right: 2px;
  line-height: 1.2em;
  color: #333;
  letter-spacing: -1.2px;
  font-family: "Noto Sans KR", "Malgun Gothic", Dotum, "돋움", AppleGothic,
    Lucida Grande, Verdana, Arial, Tahoma, sans-serif;
}
.topColRight .gd_infoTop .gd_titArea h3.gd_nameE {
  display: inline;
  margin-right: 1px;
  color: #666;
  font-size: 16px;
  font-weight: normal;
  vertical-align: 2px;
}
.topColRight .gd_infoTop .gd_pubArea {
  display: block;
  line-height: 20px;
  color: #666;
}
.topColRight .gd_infoTop .gd_pubArea .gd_auth {
  vertical-align: top;
}
.topColRight .gd_infoTop .gd_pubArea a {
  color: #333;
  vertical-align: top;
}
.topColRight .gd_infoTop .gd_pubArea .divi {
  display: inline-block;
  margin: 4px 4px 0 4px;
  width: 1px;
  height: 12px;
  text-indent: -999em;
  border-right: solid 1px #ccc;
}
.topColRight .gd_infoTop .gd_pubArea .gd_date {
  vertical-align: top;
  white-space: nowrap;
}
.iconC {
  display: inline-block;
  padding: 0;
  height: 18px;
  border: solid 1px #d8d8d8;
  text-indent: 0;
  background-color: #fff;
}
.iconC em.txt {
  display: inline-block;
  padding: 0 4px;
  line-height: 17px;
  font-size: 11px;
  color: #666;
  font-weight: normal;
  cursor: default;
  vertical-align: top;
  text-indent: 0;
}

.topColRight .gd_infoTop .gd_ratingArea {
  display: flex;
  margin-top: -8px;
  align-items: center;
  line-height: 20px;
  color: #666;
}
.topColRight .gd_infoTop .gd_ratingArea .gd_rating {
  position: relative;
  margin: 10px 8px 0 0;
}
.topColRight .gd_infoTop .gd_ratingArea .gd_rating .total_rating {
  background-position: 0 -200px;
  margin-top: 1px;
  width: 78px;
  height: 16px;
}
.topColRight .gd_infoTop .gd_ratingArea .gd_rating .yes_b {
  margin-right: 1px;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  color: #000;
}
.topColRight .gd_infoTop .gd_ratingArea .gd_rating .moreRating .bgYUI {
  margin-top: 1px;
  width: 17px;
  height: 16px;
  background-position: -20px -240px;
}
.topColRight .gd_infoTop .gd_ratingArea .gd_reviewCount {
  margin: 9px 0 0 0;
  min-height: 20px;
}
.topColRight .gd_infoTop .gd_ratingArea .gd_reviewCount a {
  color: #333;
}
.topColRight .gd_infoTop .gd_ratingArea .gd_sellNum {
  margin: 9px 10px 0 5px;
  line-height: 20px;
  color: #666;
}
.topColRight .gd_infoTop .gd_ratingArea .gd_sellNum .divi {
  display: inline-block;
  overflow: hidden;
  margin: 3px 4px 0 4px;
  width: 1px;
  height: 12px;
  text-indent: -999em;
  border-right: solid 1px #ccc;
}
.topColRight .gd_infoTop .gd_ratingArea .gd_sellNum .ico_help {
  vertical-align: -3px;
  width: 17px;
  height: 16px;
  background-position: -80px -240px;
}
.topColRight .gd_infoTop .gd_ratingArea .gd_best {
  margin-top: 9px;
  text-align: left;
  display: inline-block;
}
.topColRight .gd_infoTop .gd_ratingArea .gd_best dl {
  display: flex;
}
.topColRight .gd_infoTop .gd_ratingArea .gd_best dt {
  margin: 0 2px 0 0;
  width: 48px;
  height: 20px;
  line-height: 19px;
  font-size: 11px;
  color: #fff;
  text-indent: 4px;
  background: url(../img/sub/bgDetail.png) no-repeat -622px -250px;
}
.topColRight .gd_infoTop .gd_ratingArea .gd_best dd {
  margin-left: 5px;
}
.topColRight .gd_infoTop .gd_ratingArea .gd_best .divi {
  margin: 3px 4px 0 4px;
  width: 1px;
  height: 12px;
  text-indent: -999em;
  border-right: solid 1px #ccc;
  display: inline-block;
  overflow: hidden;
}
.bgGD {
  display: inline-block;
  text-indent: -999em;
  background: url(../img/sub/bgDetail.png);
}
.bgYUI {
  background: url(../img/sub/bgYUI.png);
  display: inline-block;
  text-indent: -999em;
}
.ico_toggle {
  width: 17px;
  height: 16px;
  background-position: -20px -240px;
}
.txC_blue {
  color: #6699cc;
}
.ico_help {
  width: 17px;
  height: 16px;
  background-position: -80px -240px;
  vertical-align: bottom;
}
.ico_go {
  width: 17px;
  height: 16px;
  background-position: -60px -240px;
}
.ico_arr {
  width: 10px;
  height: 8px;
  vertical-align: 1px;
  background-position: -160px -280px;
}

.topColRight .gd_infoBot {
  display: flex;
}
.topColRight .gd_infoBot .gd_infoTbArea {
  width: 500px;
  padding-top: 19px;
}
.topColRight .gd_infoBot .gd_infoTbArea .gd_infoTb {
  margin-bottom: 21px;
}
.topColRight .gd_infoBot .gd_infoTbArea table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.topColRight .gd_infoBot .gd_infoTbArea table th {
  padding: 6px 0 6px;
  line-height: 18px;
  color: #666;
  font-weight: normal;
  text-align: left;
  vertical-align: top;
  width: 110px;
}
.topColRight .gd_infoBot .gd_infoTbArea table td {
  padding: 5px 0 6px;
  min-height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #666;
  text-align: left;
}
.topColRight .gd_infoBot .gd_infoTbArea table tr.accentRow th {
  font-weight: bold;
  color: #333;
}
.topColRight .gd_infoBot .gd_infoTbArea table tr.accentRow td {
  color: #ff6666;
}
.topColRight .gd_infoBot .gd_infoTbArea table tr.accentRow td .sell_price {
  font-weight: bold;
  font-size: 14px;
  color: #ff6666;
}
.topColRight
  .gd_infoBot
  .gd_infoTbArea
  table
  tr.accentRow
  td
  .sell_price
  .yes_m {
  font-size: 24px;
  vertical-align: -4px;
  color: #ff6666;
}
.topColRight .gd_infoBot .gd_infoTbArea table tr.accentRow td .crama_price {
  color: #333;
  line-height: 35px;
}
.topColRight
  .gd_infoBot
  .gd_infoTbArea
  table
  tr.accentRow
  td
  .crama_price
  .yes_m {
  color: #333;
}
.topColRight .gd_infoBot .gd_infoTbArea table td .gd_infoLi {
  margin-top: -3px;
}
.topColRight .gd_infoBot .gd_infoTbArea table td .gd_infoLi li {
  padding: 5px 0 5px 0 !important;
  line-height: 16px !important;
  color: #666;
  border: none !important;
  text-align: left;
  font-size: 12px;
  word-wrap: break-word;
  word-break: keep-all;
}

.topColRight .gd_infoBot .gd_infoTbArea .gd_infoTb.bdr_top {
  padding-top: 19px;
  border-top: 1px solid #ebebeb;
  margin-bottom: 20px;
}
.topColRight .gd_infoBot .gd_infoTbArea .gd_infoTb.bdr_top .ico_toggle {
  vertical-align: bottom;
}
.topColRight .gd_infoBot .gd_infoTbArea .gd_infoTb.bdr_top .ico_go {
  vertical-align: bottom;
}
.topColRight .gd_infoBot .gd_infoTbArea .gd_infoTb.bdr_top .ico_arr {
  margin-left: -2px;
}

.topColRight .gd_infoBot .gd_infoTbArea .gd_infoTb .gd_deliBoxGrp {
  margin-top: 10px;
}
.topColRight .gd_infoBot .gd_infoTbArea .gd_infoTb .gd_deliBoxGrp .gd_deliBox {
  padding: 10px 0;
  background-color: #edf5fe;
}
.topColRight
  .gd_infoBot
  .gd_infoTbArea
  .gd_infoTb
  .gd_deliBoxGrp
  .gd_deliBox
  .deliBox_row {
  margin: 0 15px;
  padding: 5px 0;
  line-height: 18px;
}
.topColRight
  .gd_infoBot
  .gd_infoTbArea
  .gd_infoTb
  .gd_deliBoxGrp
  .gd_deliBox
  .deliBox_row
  .iconC {
  margin-right: 5px;
}
.ico_deliShot {
  background-color: #eea900;
  border-color: #eea900;
}
.ico_deliShot em.txt {
  color: #fff;
}
.txC_black {
  color: #333;
}
.topColRight .gd_infoBot .gd_infoTbArea .gd_infoTb .gd_deliBoxGrp .alertLi {
  margin-top: 9px;
}
.alertLi li {
  padding: 2px 0 1px 7px !important;
  line-height: 18px !important;
  text-indent: -7px !important;
  color: #666;
  font-size: 12px;
  border: none !important;
  text-align: left;
}
.alertLi li .bl_dot {
  margin-top: 6px;
  margin-right: -4px;
  width: 7px;
  height: 6px;
  vertical-align: top;
  background-position: 0 0;
}

/* Sub Detail Banner */
.detailBnWrap {
  width: 1200px;
  margin: 40px auto 30px;
  position: relative;
  z-index: 0;
  clear: both;
  text-align: center;
}
